@mixin setup_colors($palette){
    :root {
        color-scheme: dark light;
        @each $color, $value in $palette {
            --#{$color}: #{$value}; 
        }
    }
}

@media (prefers-color-scheme: light) {
    $colors: (
        "main": #FFFFFF,
        "secondary": #090909,
        "accent": #2489FF,
        "background": #EFEFEF,
        "text": #090909,
    );
    @include setup_colors($colors);
}
@media (prefers-color-scheme: dark) {
    // a color palette looped over here
    $colors: (
        "main": #161C23,
        "secondary": #090909,
        "accent": #10FB06,
        "background": #090909,
        "text": #EFEFEF,
    );
    @include setup_colors($colors);
}
$palette: (
    "main": var(--main),
    "secondary": var(--secondary),
    "accent": var(--accent),
    "background": var(--background),
    "text": var(--text),
    "white": #FFFFFF,
    "gray-50": #EFEFEF,
    "gray-100": #DADADA,
    "gray-200": #C1C1C1,
    "gray-300": #868686,
    "gray-400": #666666,
    "gray-500": #353535,
    "gray-600": #141414,
    "black": #090909,
);
