<div class="ht-config position-fixed d-flex bg-main overflow-hidden closed" id="ht-config">
    <div class="align-self-center">
        <button class="bg-main-200 m-0" id="hide-navbar">
            Hide navbar
        </button>
    </div>
    <div class="toggler-container d-flex align-items-center cursor-pointer h-100 ml-2" id="toggle-ht-config">
        <svg width="44" height="44" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 18L15 12L9 6" stroke="var(--main-200)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>
<style>
.ht-config {
    bottom: 30px;
    left: 0;

    height: 62px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.15s ease-in-out;
}

.ht-config.closed {
    transform: translateX(-150px);
}

.ht-config svg path {
    transition: all 0.15s ease-in-out;
}
.toggler-container:hover {
    background-color: var(--main-200);
}
.ht-config:hover svg path {
    stroke: #4a6481;
}
</style>