@import 'reset.css';
@import 'main.css';

nav img.logo {
    width: 60px;
    height: 60px;
}
nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding-block: 6px;
}

/* center */
.modules {
    display: flex;
    align-items: center;
}
.modules ul {
    display: flex;
    align-items: center;
}
.modules ul li {
    margin-inline: 12px;
}
.modules ul li.active {
    background-color: #090909;
    color: white;

    padding: 10px 7px;
    border-radius: 4px;
}



/* right */
.profile {
    display: flex;
    align-items: center;
    align-content: center;
}

.profile ul{
    display: flex;
    align-items: center;
}

.profile ul li{
    margin-inline: 10px;
}
.profile ul li img {
    width: 20px;
}
.profile-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.profile-info .content {
    text-align: end;
}
.profile-info img {
    width: 55px;
}

h3 {
    font-weight: 600;
    font-size: 20px;
}