
<nav class="ht-navbar d-flex align-items-center align-content-center justify-content-end">
    
    <div class="navigation-item">
        <i class="fa-regular fa-sun"></i>
    </div> 
    <div class="navigation-item">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="navigation-item">
        <i class="fa-regular fa-bell"></i>
    </div>   
    <div class="navigation-item">
        <i class="fa-regular fa-comments"></i>
    </div>
    <div class="ht-profile d-flex flex-column align-items-end justify-content-center">
        <h3 class="mb-0 text-align-start">
            Devs
        </h3>
        <h4 class="mb-0">
            Super user
        </h4>
    </div>
</nav>
<script>
    
</script>
<style>
    nav.ht-navbar {
        background-color: #0F0F0F;
        padding: 12px;
    }
    .ht-profile {
        height: 40px;
    }
    .ht-navbar .navigation-item {
        padding-inline: 8px;
    }
    .ht-navbar .navigation-item i {
        color: #d0d2d6;
        font-size: 20px;
    }
    .ht-profile {
        color: #d0d2d6;
        margin-left: 12px;
    }
    .ht-profile h3 {
        font-weight: 600;
        font-size: 14px;
    }
    .ht-profile h4 {
        font-size: 12px;
    }
</style>