
<aside>
    <div class="logo"></div>
    <nav id="navigation-container"><!-- here goes the side-menu -->
    </nav>
</aside>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&family=Montserrat:wght@100;300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,400;1,500&display=swap');

    li.list-header {
        font-weight: 600;
        color: #676d7d;    
        font-size: 12px;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    li.list-item {
        padding-block: 2px;
        font-size: 16px;
        line-height: 1.45;
        color: #d0d2d6;
        transition: transform 0.25s ease;
    }
    ul.nav-list {
        margin-top: 32px;
    }
    body {
        color: white;
        background-color: #090909;
        --main-800: #0F0F0F;
    }

    /* START from HERE */
    nav {
        height: auto;
    }
    aside {
        display: none;
        width: 260px;
        background-color: var(--main-800) !important;
        padding: 1.5rem;
        padding-inline: 30px !important;
        height: calc(100vh - 64px);
        font-family: "Montserrat", Helvetica, Arial, serif;
        overflow-y: scroll;
    }
    ul.nav-list {
        padding: 0;
    }
    
@media (min-width: 1200px) {
    aside {
        display: block;
    }
}
</style>