<template>
    <main class="home">
        <nav class="navbar-custom bg-ht-main-700">
            <div class="logo">
                HyTech Gizmo
            </div>
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="menuContainer menuOptsLeft">
                <li><a class="module active" href="javascript:void(0);">Home</a></li>
                <li><a class="module" href="javascript:void(0);">Customers</a></li>
                <li><a class="module" href="javascript:void(0);">Meetings</a></li>
                <li><a class="module" href="javascript:void(0);">Analytics</a></li>
                <li><a class="module" href="javascript:void(0);">Proposal Tools</a></li>
            </ul>
            <div class="menuOptsRight ms-auto">
                <ul class="menuContainer">
                    <li class="OptRight" data-bs-toggle="modal" data-bs-target="#globalSearch">
                        <ht-icon width="22" height="22" color="var(--white)" name="search"></ht-icon>
                    </li>
                    <li class="OptRight">
                        <ht-icon width="22" height="22" color="var(--white)" name="calendar"></ht-icon>
                    </li>
                    <li class="OptRight">
                        <div class="dropdown">
                            <ht-icon width="22" height="22" color="var(--white)" name="notification" id="notificationsMenu" data-bs-toggle="dropdown" aria-expanded="false">
                            </ht-icon>
                            <ul class="dropdown-menu dropdown-content" aria-labelledby="notificationsMenu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- OPTION PROFILE -->
                    <li class="OptRight">
                        <div class="d-flex align-items-center dropdown" id="profileMenu" data-bs-toggle="dropdown"
                        aria-expanded="false">
                            <div class="user-nav">
                                <span class="user-name">John Doe</span>
                                <span class="user-status">Super User</span>
                            </div>
                            <span class="avatar-container">
                                <img class="avatar-img" src="https://picsum.photos/id/669/200" alt="avatar">
                            </span>
                            <ul class="dropdown-menu dropdown-content" aria-labelledby="profileMenu">

                                <h6 class="user-menu">
                                    <img class="avatar-img" src="https://picsum.photos/id/669/200" alt="avatar">
                                    <div class="profile-details">
                                        <span class="profile-name">John Doe</span>
                                        <span class="profile-email">johndoe@hytech.com</span>
                                    </div>

                                </h6>

                                <li>
                                    <div class="dropdown-item sw-theme">
                                        <ht-icon name="moon" class="me-2" width="20" height="20" color="#5b5c5e"></ht-icon>
                                        <span class="sw-title">Dark Mode </span>
                                        <div class="toggle-container">
                                            <label class="switch mb-0" id="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <div class="menu-profile">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <ht-icon class="me-2" width="20" height="20" color="#5b5c5e"
                                                name="setting2"></ht-icon>
                                            Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <ht-icon class="me-2" width="20" height="20" color="#5b5c5e"
                                                name="setting3"></ht-icon>
                                            Admin Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <ht-icon class="me-2" width="20" height="20" color="#5b5c5e"
                                                name="logout"></ht-icon>
                                            Log Out
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </li>

            </div>
            </ul>
            </div>

        </nav>

        <div class="container">
            <div class="row mx-0">
                <!-- Profile Column  *CLOSE HERE -->
                <div class="profile-column col-2 bg-ht-main">
                    <div class="profile-container-row">
                        <!-- PROFILE CUSTOMER -->
                        <img class="avatar-profile" alt="avatar" src="https://i.pravatar.cc/200?img=12">
                        <div class="profile-data">
                            <span class="customer-name">Jean Smith</span>
                            <span class="customer-status">Lead</span>
                        </div>
                    </div>

                    <!-- BUTTONS ACTIONS CUSTOMER -->
                    <div class="profile-container-row justify-content-between">
                        <div class="btn-circle bg-ht-highlight-400">
                            <ht-icon width="22" height="22" color="var(--ht-highlight-500)" name="edit"></ht-icon>
                        </div>
                        <div class="btn-circle bg-ht-highlight-400">
                            <ht-icon width="27" height="27" color="var(--ht-highlight-500)" name="personal-card"></ht-icon>
                        </div>
                        <div class="btn-circle bg-ht-highlight-400">
                            <ht-icon width="24" height="24" color="var(--ht-highlight-500)" name="share"></ht-icon>
                        </div>
                    </div>

                    <div class="profile-container-column">
                        <!-- DATASETS OF THE CUSTOMER -->
                        <div class="dataset-profile">
                            <h6 class="label-profile">Email</h6>
                            <p class="data-profile color-ht-passive">jeansmith@example.com</p>
                        </div>

                        <div class="dataset-profile">
                            <h6 class="label-profile">Phone</h6>
                            <p class="data-profile color-ht-passive">(512) 579-6526</p>
                        </div>

                        <div class="dataset-profile">
                            <h6 class="label-profile">Lead Owner</h6>
                            <p class="data-profile color-ht-passive">Andrew Smith</p>
                        </div>

                        <div class="dataset-profile">
                            <h6 class="label-profile">Lead Status</h6>
                            <p class="data-profile color-ht-passive">New</p>
                        </div>

                        <div class="dataset-profile">
                            <h6 class="label-profile">Project Type</h6>
                            <p class="data-profile color-ht-passive">Heating & Air-conditioning</p>
                        </div>

                        <div class="dataset-profile">
                            <h6 class="label-profile">Channel Partner</h6>
                            <p class="data-profile color-ht-passive">HyTech Solar</p>
                        </div>

                        <h5 class="title-profile color-ht-alternative">Property Information</h5>

                        <div class="dataset-profile">
                            <h6 class="label-profile">State</h6>
                            <p class="data-profile color-ht-passive">New York</p>
                        </div>

                        <div class="dataset-profile">
                            <h6 class="label-profile">City</h6>
                            <p class="data-profile color-ht-passive">Westbuty</p>
                        </div>

                        <div class="dataset-profile">
                            <h6 class="label-profile">Street</h6>
                            <p class="data-profile color-ht-passive">29 Lynwood Dr</p>
                        </div>

                        <div class="dataset-profile">
                            <h6 class="label-profile">Zipcode</h6>
                            <p class="data-profile color-ht-passive">11590</p>
                        </div>

                    </div>


                </div>

                <!-- Content Column *CLOSE HERE -->
                <div class="col-8 px-0">
                    <div class="header-customer bg-ht-main">
                        <div class="stage-container"></div>
                        <div class="tabs-modules">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <button class="nav-link tab-module active color-ht-main-text" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                        aria-selected="true">Lead Information</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link tab-module color-ht-main-text" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                        aria-selected="false">Opportunities</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link tab-module color-ht-main-text" id="contact-tab" data-bs-toggle="tab"
                                        data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                        aria-selected="false">Projects
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link tab-module color-ht-main-text" id="contact-tab" data-bs-toggle="tab"
                                        data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                        aria-selected="false">Attachments</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link tab-module color-ht-main-text" id="contact-tab" data-bs-toggle="tab"
                                        data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                        aria-selected="false">Designs</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane p-2 fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!-- <nav id="nav-tab" class="nav nav-pills nav-fill nav-horizontal-bg">
                                <a class="section-tab nav-link horizontal-option active" data-bs-toggle="tab"
                                    data-bs-target="#" role="tab" aria-controls="section1"
                                    aria-selected="true">Details</a>
                                <a class="section-tab nav-link horizontal-option" data-bs-toggle="tab"
                                    data-bs-target="#" role="tab" aria-controls="section1"
                                    aria-selected="true">Telemarketing</a>
                            </nav> -->

                        </div>

                        <div class="tab-pane p-2 fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...
                        </div>
                        <div class="tab-pane p-2 fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...
                        </div>
                    </div>
                </div>

                <!-- Notes Column *CLOSE HERE -->
                <div class="col-2 notes-column bg-ht-main">

                </div>
            </div>
        </div>

        <!-- GLOBAL SEARCH Modal -->
        <div class="modal fade" id="globalSearch" tabindex="-1" aria-labelledby="globalSearchLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-ht-main">
                    <div class="search-input modal-body bg-ht-main overflow-hidden">
                        <div class="container-search">
                            <div class="btn-search">
                                <ht-icon class="icon-search" width="20px" height="20px" color="var(--ht-deactivated)" name="search"></ht-icon>
                                <input id="global-search" type="text" class="search-value color-ht-text" placeholder="Search..." autofocus></input>
                                <span class="short-search color-ht-passive">ESC</span>
                            </div>
                        </div>
                    </div>
                    <div class="container-results modal-body bg-ht-main overflow-hidden">
                        <div class="mb-1 d-flex justify-content-between">
                            <div class="label-result color-ht-passive">Results</div>
                            <div class="label-result counter color-ht-alternative"></div>
                        </div>
                        <div class="container-results-items">
                            <ul class="list-results mb-0">
                                <!-- <li class="item-result">
                                    <img class="item-result-icon" alt="avatar" src="https://picsum.photos/200">
                                    <div class="container-data-result">
                                        <span class="name-result">Lebron James</span>
                                        <span class="type-result">Customer</span>
                                    </div>
                                </li> -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </main>
</template>

<script>
    $(document).ready(function () {


        var itemNum = 2;

        var itemResult = /*html*/`
            <li class="item-result">
                <img class="item-result-icon" alt="avatar" src="https://picsum.photos/200"/>
                    <div class="container-data-result">
                        <span class="name-result color-ht-alternative">Lebron James</span>
                        <span class="type-result color-ht-passive">Customer</span>
                    </div>
            </li>
        `;

        for (let i = 0; i < itemNum; i++) {
            $('.list-results').append(itemResult);
        }
        $('.counter').append(itemNum);
       

        $('#global-search').on('input', function (e) {
            $('.container-results').addClass("display-results");

            if (e.target.value === '') {
                $('.container-results').removeClass("display-results");
            }
        });

        $("a").click(function () {
            $(".menuOptsLeft li a").removeClass("active");
            $(this).addClass("active");
        });

        function openSearchKey(e) {
            if (e.shiftKey && e.code === 'KeyF') {
                $('#globalSearch').modal('show');
                $('#global-search').focus();
                return false;
            }
        }

        function closeSearchKey(e) {
            if (e.key === "Escape") {
                $('#globalSearch').modal('hide');
                return false;
            }
        }
        $(".short-search").click(function() {
            $('#globalSearch').modal('hide');
        })

        document.addEventListener('keyup', openSearchKey, false);
        document.addEventListener('keyup', closeSearchKey, false);
    });


</script>

<style>
    /*  */

    .type-result {
        font-weight: 400;
        font-size: 12px;
        margin-top: 2px;
    }

    .name-result {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;

        overflow: hidden;
        max-width: 25rem;
        text-overflow: ellipsis;
        display: block;
    }

    .container-data-result {
        flex-direction: column;
        display: flex;
        margin-left: 1rem;
    }

    .list-results {
        padding-left: 0px;
    }
    
    .list-results li:last-child {
        margin-bottom: 0 !important;
    }

    .item-result-icon {
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }

    .item-result {
        padding: 5px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        border-radius: 8px;
        border: 2px solid transparent;
    }

    .item-result:hover {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .item-result:active {
        transform: scale(0.95);
    }

    .display-results {
        display: block !important;
    }

    /* CONTENT COLUMN */

    /* NAV HORIZONTAL */
    .nav-horizontal-bg {
        background-color: #EEF1F2;
        padding: 6px;
        margin-top: 15px;
        border: 1.5px solid #D3D3D3;
        border-radius: 5px;
        transition: all 0.15s ease-in-out;
        width: 100%;
        height: 40px;
    }

    .horizontal-option.active {
        cursor: pointer;
        background-color: #090909 !important;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        color: #FFF !important;
        font-weight: 600 !important;
        transition: all 0.3s ease-in-out;
    }

    .horizontal-option {
        cursor: pointer;
        color: #545454 !important;
        font-size: 14px !important;
        font-size: 600 !important;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
    }

    .horizontal-option:hover {
        text-decoration: none !important;
    }



    .nav-tabs {
        /* margin-top: 1px; */
        border-bottom: transparent !important;
    }

    .tab-module:hover {
        border-color: transparent !important;
    }

    .tab-module {
        color: var(--ht-passive) !important;
        border-color: transparent;
        font-weight: 500;
        margin: 10px !important;


        background: transparent !important;
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: 0 !important;

    }

    .tab-module.active {
        color: var(--ht-highlight-500) !important;
        font-weight: 600;
        margin: 10px !important;

        border-bottom: 3px solid var(--ht-main-text);
        border-color: transparent !important;
        border-bottom-color: var(--ht-highlight-500) !important;
        border-radius: 0px;

    }

    .stage-container {
        height: 50px;
        width: 100%;

        background: #EFEFEF;
        background: linear-gradient(110deg, var(--ht-highlight) 8%, var(--ht-main)18%, var(--ht-highlight) 33%);
        /* background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%); */
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 2s shine linear infinite;
    }

    .header-customer {
        border-bottom: 1px solid var(--ht-main-400);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;

        height: 12vh;
    }


    /* PROFILE COLUMN */

    .dataset-profile {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .title-profile {
        font-weight: 600;
        font-size: 20px;
    }

    .label-profile {
        font-weight: 500;
        margin-bottom: 8px !important;
        font-size: 15px;
    }

    .data-profile {
        margin-bottom: 0px !important;
        font-size: 14px;
    }

    .profile-container-row {
        margin-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        display: flex;
        align-items: center;
    }

    .profile-container-column {
        margin-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .notes-column {
        border-left: 1px solid var(--ht-main-400) !important;
        height: 93.5vh;
    }

    .profile-column {
        /* background-color: white !important; */
        
        border-right: 1px solid var(--ht-main-400);
        /* border-right: 1px solid rgba(0, 0, 0, 0.15); */
        height: 93.5vh;
    }

    .profile-data {
        flex-direction: column;
        display: flex;
        margin-left: 1rem;
    }

    .customer-name {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 4px;

        overflow: hidden;
        max-width: 13rem;
        text-overflow: ellipsis;
        display: block;
    }

    .customer-status {
        font-weight: 400;
        font-size: 14px;
        margin-top: 4px;
    }

    .btn-circle {
        background-color: #F0F0F0;
        color: #090909;
        width: 45px;
        height: 45px;
        border-radius: 25px;
        transition: all 0.2s ease;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-circle:hover {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .btn-circle:active {
        transform: scale(0.85);
    }

    .avatar-profile {
        height: 60px;
        width: 60px;
        border-radius: 8px;
        /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
    }


    /* GLOBAL SEARCH MODAL */
    .modal-content {
        border: none !important;
        border-radius: 6px !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .container-results {
        display: none;
        border-radius: 5px;
        
        border: 1px solid var(--ht-highlight);
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        transition: all 0.7s ease-in-out;
    }

    /* ANIMATIONS */

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }


    /* DROPDOWN */

    .profile-email {
        font-size: 13px;
        font-weight: 400;
        color: #a1a0a3;
    }

    .profile-name {
        margin-bottom: 0 !important;
        font-size: 13px;
        font-weight: 500;
        color: #090909;
    }

    .profile-details {
        flex-direction: column;
        margin-left: 0.5rem;
        display: flex !important;
    }

    .sw-title {
        flex: 1 1 0%;
    }

    .sw-theme:hover {
        background-color: #FFF;
    }


    .dropdown-content .dropdown-divider {
        border-top: 1px solid #e4e4e4;
    }

    .dropdown-content .dropdown-item {
        text-align: start;
        padding: 8px 12px;
        text-decoration: none !important;
        display: flex;
        align-items: center;
        color: #5b5c5e !important;
        font-weight: 400;
        font-size: 14px;

        transition: all 0.2s ease-in-out;
    }

    .dropdown-content .dropdown-item.active {
        background-color: #d8d8d8;
    }

    .user-menu {
        display: flex;
        align-items: center;
        cursor: default;

        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .avatar-img {
        border-radius: 50%;
        height: 35px;
        object-fit: cover;
        object-position: center;
        width: 35px;
        cursor: default;
    }

    .dropdown-content {
        display: none;
        opacity: 0;
        position: absolute;
        background-color: #fff;
        min-width: 220px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        z-index: 1;
        border-radius: 6px;
        border: none !important;
        animation: fadeIn 0.4s;
        cursor: default;

        margin-top: 5px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .dropdown-content.show {
        opacity: 1;
    }

    .dropdown-content a:hover {
        background-color: #f5f5f5;
        color: #090909 !important;
    }

    /* GLOBAL SEARCH */

    .label-result {
        color: #9CA3AF;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .short-search {
        color: #090909;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 600;
        flex: none;
        border: 1px solid #9ca3af44;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
    }

    .search-value {
        color: #090909;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: left;
        border: none;
        background: transparent;
        flex: 1 1 0%;
    }

    .search-value:focus {
        outline: none !important;
    }

    .icon-search {
        margin-right: 0.5rem;
    }

    .container-search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-search {
        /* background-color: #fff !important; */
        display: flex;
        align-items: center;
        width: 30rem;
    }
    .btn-search input::placeholder {
        color: var(--ht-passive)
    }

    /* NAVBAR */
    .user-name {
        margin-bottom: 0 !important;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
    }

    .user-status {
        font-size: 12px;
        font-weight: 200 !important;
        color: #e6e6e6;
    }

    .user-nav {
        flex-direction: column;
        align-items: flex-end;
        float: left;
        margin-right: 0.8rem;
        display: flex !important;
        justify-content: space-evenly;
        height: 100%;
    }

    .menuOptsRight {
        flex-direction: row;
        align-items: center !important;
        justify-content: flex-end !important;
        display: flex !important;
    }

    .OptRight {
        display: flex;
        align-items: center;
        margin-left: 1.25rem !important;
        cursor: pointer;
    }

    .avatar-container {
        white-space: nowrap;
        cursor: pointer;
        display: inline-flex;
        vertical-align: middle;
    }

    .avatar-img {
        border-radius: 50%;
        height: 40px;
        object-fit: cover;
        object-position: center;
        width: 40px;
        cursor: pointer;
    }

    .container {
        max-width: none !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .navbar-custom {
        display: flex;
        align-items: center;
        height: 60px;
        width: 100%;
        padding: 0 25px 0 25px;
        flex-wrap: wrap;
        border-bottom: 2px solid var(--ht-main);
    }

    .navbar-custom .logo {
        /* color: #fff; */
        font-size: 22px;
        font-weight: 600;
    }

    .navbar-custom .menuContainer {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 0px !important;
    }


    .navbar-custom ul li .module {
        margin: 0 5px;
        /* color: #666666 !important; */
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 10px;
        border-radius: 3px;
        transition: all 0.4s ease;
    }

    .navbar-custom ul li .module.active {
        text-decoration: none !important;
        background-color: var(--ht-main);
        color: var(--ht-main-text) !important;
    }


    .navbar-custom ul li .module:hover:not(.active) {
        color: white !important;
        text-decoration: none !important;
    }

    .navbar-custom .menu-btn i {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    @media (max-width: 1200px) {
        .navbar-custom {
            padding: 0 10px 0 10px;
        }
    }

    @media (max-width: 1000px) {
        .navbar-custom .menu-btn i {
            display: block;
        }

        #click:checked~.menu-btn i:before {
            content: "\f00d";
        }

        .navbar-custom ul {
            position: fixed;
            top: 80px;
            left: -100%;
            background: #111;
            height: 100vh;
            width: 100%;
            text-align: center;
            display: block;
            transition: all 0.3s ease;
        }

        #click:checked~ul {
            left: 0;
        }

        .navbar-custom ul li {
            width: 100%;
            margin: 40px 0;
        }

        .navbar-custom ul li a {
            width: 100%;
            margin-left: -100%;
            display: block;
            font-size: 20px;
            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        #click:checked~ul li a {
            margin-left: 0px;
        }

        .navbar-custom ul li a.active,
        .navbar-custom ul li a:hover {
            background: none;
            color: cyan;
        }
    }

    .content {}

    .search-input {
        border-radius: 5px;
        border: 1px solid var(--ht-highlight);
    }
    .modal-content:has(.display-results) .search-input{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1px solid var(--ht-highlight);
    }
</style>