<template>
    <main class="home row justify-content-center">
        <div class="col-md-12">
            <div class="ht-jumbotron d-flex flex-column m-auto w-100 vh-100">
                <h1 class="display-3 text-center color-ht-main-text weight-600 mb-3" >
                    Hytech PlayGround
                </h1>
                <p class="color-ht-passive weight-600 size-26 mb-2" style="line-height: 1.3;">
                    Test your components here before adding them to the production environment.
                </p>
                <div class="views-menu flex-grow-1 bg-ht-main overflow-hidden mt-5">
                    <div class="views-menu__header d-flex justify-content-between align-items-center bg-ht-secondary p-4">
                        <div class="d-flex align-items-center">
                            <h4 class="size-26 weight-500 mb-0 me-4">
                                Views
                            </h4>
                        </div>
                    </div>
                    <nav class="views-menu__body d-flex justify-content-between flex-wrap p-4">
                        <a href="#/task-drawer" class="view bg-ht-highlight cursor-pointer d-flex align-items-center color-ht-cyan p-3 mb-3">
                            <span class="color-ht-cyan size-18">
                                Task Drawer
                            </span>
                        </a>
                        <a href="#/global-search" class="view bg-ht-highlight color-ht-cyan cursor-pointer d-flex align-items-center p-3 mb-3">
                            <span class="size-18">
                                Global Search
                            </span>
                        </a>
                        <div class="view bg-ht-highlight cursor-pointer d-flex flex-column color-ht-cyan p-3 mb-3">
                            <a href="#/files">
                                <span class="size-18">
                                    File
                                </span>
                            </a>
                            <ul class="ps-3 mb-0">
                                <li class="mt-2">
                                    <a href="#/files/archives" class="color-ht-cyan">
                                        <span class="size-18">
                                            archives
                                        </span>
                                    </a>
                                </li>
                                <li class="mt-2">
                                    <a href="#/files/deleted" class="color-ht-cyan">
                                        <span class="size-18">
                                            deleted
                                        </span>
                                    </a>
                                </li>
                                <li class="mt-2">
                                    <a href="#/files/dynamic-route" class="color-ht-cyan">
                                        <span class="size-18">
                                            dynamic route
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#/navbar" class="view bg-ht-highlight color-ht-cyan cursor-pointer d-flex align-items-center p-3 mb-3">
                            <span class="size-18">
                                Navbar
                            </span>
                        </a>
                        <a href="#/customer-view" class="view bg-ht-highlight color-ht-cyan cursor-pointer d-flex align-items-center p-3 mb-3">
                            <span class="size-18">
                                Customer
                            </span>
                        </a>
                        <a href="#/contract-confirm" class="view bg-ht-highlight color-ht-cyan cursor-pointer d-flex align-items-center p-3 mb-3">
                            <span class="size-18">
                                Contract confirm
                            </span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
</script>
<style>
    button {
        width: max-content;
    }
    .ht-jumbotron {
        max-width: 720px; 
        padding-top: 14rem;
    }
    .ht-jumbotron .views-menu  {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
    .views-menu__body .view {
        width: 48%;
        border-radius: 7px;
        height: max-content;
    }
    
    .views-menu__body .view ul{
        list-style-type: disc;
    }
    .views-menu__body .view span {
        pointer-events: none;
    }
</style>