<template>
    <main class="">
        <!-- this component has the code we need for our main logic -->
        <ht-looper></ht-looper> 
        <div class="row mx-0 vh-100">
            <div class="looper-form d-flex flex-column bg-ht-main col-md-2 px-0" id="looper-form">
                <div class="looper-header d-flex justify-content-end bg-ht-main-700 p-3 mb-0">
                    <h2 class="mb-0 size-18">
                        List of instances
                    </h2>
                </div>
                <ul class="looper-navigation p-0 mb-0 text-end">
                    <li class="active py-3 pe-3">Instance 1</li>
                    <li class="py-3 pe-3">Instance 2</li>
                    <li class="py-3 pe-3">Instance 3</li>
                </ul>
                <div class="looper-available-space d-flex flex-column flex-grow-1 pt-3 px-2">
                    <button class="add-section weight-600 my-0 mx-1 bg-ht-main-700 size-13" data-bs-toggle="modal" data-bs-target="#add-instance">
                        <ht-icon name="add" color="var(--ht-main-700-text)" width="18px"></ht-icon>
                        Add new instance
                    </button>
                </div>
            </div>
            <div class="looper-result bg-ht-main col-md-10 p-5">
                <div class="ht-form-group">
                    <div class="example-container mx-auto">
                        <div class="row">
                            <div class="variable-input-container position-relative col-md-12">
                                <div id="finance-option-formula" class="textarea-clone w-100" contenteditable="true" onpaste="return false;" onCut="return false"></div>
                                <i class="clean-formula position-absolute cursor-pointer fas fa-broom " id="clean-formula"></i>
                            </div>
                            <div class="variable-table-container d-flex justify-content-center col-md-12">
                                <div class="variables-table" id="variables-table">
                                    <div class="variables-table-header">
                                        <h4 class="mb-0">Select a variable</h4>
                                    </div>
                                    <div class="variables-table-content d-flex justify-content-center p-0">
                                        <ul id="variables-list" class="variable-list w-100 mb-0 p-0">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="add-instance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="new-instance modal-dialog">
                <div class="modal-content bg-ht-main">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new instace</h5>
                        <button class="p-0 m-0" data-bs-dismiss="modal">
                            <ht-icon name="close" color="var(--ht-main-text)"></ht-icon>
                        </button>
                    </div>
                    <div class="modal-body d-flex flex-column">
                        <div class="">
                            <label for="instance-name" class="ht color-ht-passive mb-2">
                                Instance name
                            </label>
                            <input id="instance-name" name="instance-name" class="ht d-block" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn color-ht-main-text" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn bg-ht-highlight-400" id="add-new-instance">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
        // 
        const list = $('#variables-list');
        // the array of available variables...
        const variables = [
            { name: "Riso"},
            { name: "Margarita"},
            { name: "Pescador"}
        ]
        const $formula = $('#finance-option-formula');
        const formula = document.querySelector('#finance-option-formula');
        let regex = /<span class="inserted-variable" id="[^"]*"/g

        let addedVariables = [];
        let caretPosition = 0;

        $.each(variables,(index, {name}) => {
            const li = $('<li>', {
                class:"variable-element text-center",
                text: name + ` ${name.length}`,
                id: name,
                click: () => {addVariable(name)},
            }).appendTo(list);
        });

        let formulaInputLength = 0;
        formula.addEventListener('input', ({target}) => {
            const formula_value = formula.innerHTML ;
            const input_is = formulaInputLength >= formula_value.length ? 'removing':'adding';
            addedVariables.map((variable) => { // detect if we are adding characters or removing them
                const caret_before_variable = caretPosition <= variable['caret'];
                if (caret_before_variable) { //if we are adding variable
                    //(debug) it is not detecting the variable that is right beside the caret.
                    variable['caret'] += input_is === 'adding' ? 1 : 0;
                }
                
                // console.log(`%cname: ${variable['name']} | caret: ${variable['caret']}`, `color: ${caret_before_variable ? '#53FF83':'inherit'}`);
            });
            
            caretPosition = getCaretIndex(target);

            if (input_is === 'removing') { // whenever we remove text from the formula input or we highlight and delete.
                const variables_left = [...formula_value.matchAll(regex)].map((match, index) => {
                    const result = match["0"];
                    const id = result.slice(result.indexOf("id=\"") + 4, result.length - 1);
                    return id;
                });

                let additional_characters = 0;

                function removeDeleted(var_, index, arr) {
                    if (variables_left.indexOf(var_['_id']) === -1) {
                        additional_characters += var_['length']; //not taking into account the total length.
                        additional_characters -= var_['name'].length + 1; // only adding the name and the "✕".
                        return false
                    }else {
                        return true;
                    }
                }
                addedVariables = addedVariables.filter(removeDeleted);
                // console.log(`additional: ${additional_characters}`);
                const difference = (formula_value.length - formulaInputLength) + additional_characters;
                // console.log(addedVariables);
                addedVariables.forEach((var_) => {
                    if (caretPosition <= var_['caret']) {
                        var_['caret'] += difference;
                    }
                });
                // console.log(`${difference} characters deleted..`);

                // wait la diferencia es simplmenete los caracteres que habia contra los que hay
                // les tengo que restar la diferencia solo a los que había antes del caret
            }
            // console.log(caretPosition);
            formulaInputLength = formula_value.length;
        });

        formula.addEventListener('click', ({ target }) => { //updating the caret on click
            caretPosition = getCaretIndex(target);
            // console.log(caretPosition);
        });

        // delete a variable from the formula.
        $(document).on("click", "#remove-variable", function(e) {
            const parent = e.target.parentElement; // Remove it from the array.
            parent.remove();
            removeVariable(parent.id)
            formulaInputLength = e.target.innerHTML.length;
        });
        const newSpan = (content, _id) => /*html*/`<span class="inserted-variable" id="${_id}" contenteditable="false">${content}<b id="remove-variable">✕</b></span>`
        
        function addVariable(variable) {
            const _id = 'content-'+ Math.floor(10000000 + Math.random() * 900000);
            const insertAt = (str, sub, pos) => {
                return `${str.slice(0, pos)}${sub}${str.slice(pos, str.length)}`
            };
            let span = newSpan(variable, _id);
            let value = formula.innerHTML;
            let insertPosition = caretPosition;
            
            // we need to update the caret taking into account how much it has decreased or increased originally.
            for (const variable_ of addedVariables) {
                if (variable_['caret'] < caretPosition ) { // If we are adding a variable before another
                    insertPosition += (variable_['length'] - (variable_['name'].length + 1)); // +1 on the variable_name including the ✕
                }
            }
            
            const addedVariable = {
                _id,
                length: span.length,
                name: variable,
                caret: caretPosition,
                inputLength: value.length + span.length
            }
            value = value.trim().replace(/&nbsp;/g, ' '); //removing the ghost HMTL characters
            formula.innerHTML = insertAt(value, span, insertPosition);
            addedVariables.push(addedVariable);
            
            // catch the insertPosition then add a few more carets to every variable after them
            const valueFromInserted = value.slice(insertPosition, value.length);
            const addToIds = [];
            const matches = [...valueFromInserted.matchAll(regex)].map((match) => {
                const result = match["0"];
                const id = result.slice(result.indexOf("id=\"") + 4, result.length - 1);
                addToIds.push(id);
            });

            addedVariables.forEach((variable) => {
                if (addToIds.indexOf(variable['_id']) !== -1) {  // to every variable that is from insertPosition on-wards.
                    variable['caret'] += addedVariable['name'].length + 1; //its name plus the x mark.
                }
            });
            formulaInputLength = formula.innerHTML.length;
        }
        
        $('#clean-formula').click(() => {
            formula.innerHTML = [];
            addedVariables = [];
            caretPosition = 0;
            formulaInputLength = 0;
        });
        // cuando pones el cursor a la izquierda de otra y empiezas a escribir.
        // cuando uses las arrows
        // cuando elimines por mouse.
        // cuando des ctrl - z
        // (utilies)
        function removeVariable(_id) {
            for (const [index, variable] of addedVariables.entries()) {
                if (variable._id === _id) {
                    const copy = addedVariables.slice((index + 1), addedVariables.length);  //updating the carets when we remove a variable
                    // console.log(`deleting: %c${variable['name']}`, 'color: #FF2234');
                    copy.map((var_, index) => {
                        // ESTAMOS ELIMINADO EL TAMAÑO DEL CARET DE LA VARIABLE, NO LA DEL QUE ELIMINAMOS.
                        // console.log(`--updating-caret: %c${var_['name']}.`, 'color: #80868B');
                        // console.log(`reducing from caret (${var_['caret']}): ${variable['name'].length + 1}`);
                        var_['caret'] -= (variable['name'].length + 1);
                        // console.log(`now is ${var_['caret']}`);
                    });
                    addedVariables.splice(index, 1);
                    caretPosition = variable['caret'];
                }
            }
        }

        const formula_btn = $('#formulaValue');
        formula_btn.click(() => {
            console.log(formula.textContent);
        })

        function getCaretIndex(element) {
            let position = 0;
            const isSupported = typeof window.getSelection !== "undefined";
            if (isSupported) {
                const selection = window.getSelection();
                if (selection.rangeCount !== 0) {
                    const range = window.getSelection().getRangeAt(0);
                    const preCaretRange = range.cloneRange();
                    preCaretRange.selectNodeContents(element);
                    preCaretRange.setEnd(range.endContainer, range.endOffset);
                    position = preCaretRange.toString().length;
                }
            }
            return position;
        }
        function debounce(fn, delay) {
            let timer = null;
            return function () {
                const context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                fn.apply(context, args);
                }, delay);
            };
        }
</script>
<style>
    .container {
        padding: 0;
        max-width: none;
    }
    .looper-available-space {
        border-right: 1px solid var(--ht-main-400);
    }
    ul.looper-navigation {}
    ul.looper-navigation li {
        border-bottom: 1px solid var(--ht-main-400);
        border-right: 1px solid var(--ht-main-400);
        cursor: pointer;
    }
    ul.looper-navigation li.active {
        position: relative;
        border-bottom: 0;
        border-right: 1px solid var(--ht-highlight-500);
        background-color: var(--ht-highlight-400);
        color: var(--ht-highlight-400-text) !important;
        cursor: unset;
    }
    ul.looper-navigation li.active::after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        right: 0;
        z-index: 2;
        background-color: var(--ht-highlight-500);
        
        width: 3px;
        height: 100%;
        
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    i.clean-formula {
        right: 24px;
        bottom: -34px;
        opacity: 0.45;
        font-size: 28px;
        color:#10FB03;
        transition: all 0.15s ease-in-out;
    }
    i.clean-formula:hover {
        opacity: 1;
    }
    input.ht#instance-name {
        width: 280px;
    }
    .example-container {
        max-width: 500px;
        background-color: #090909;
        padding: 1rem;
    }
    textarea.legacy-ht.form-control {
        background-color: #0F0F0F;    
        border-color: #404656;
    }
    .variable-table-container {}
    /* STARTS HERE */
    .variable-input-container {
        margin-bottom: 2rem;
    }
    .variables-table {
        width: 220px;
        border: 1px solid #404656;
        border-radius: 0.358rem;
    }
    .variables-table .variables-table-header {
        background-color: #090909;
        border-bottom: 1px solid #404656;
        padding: 1rem;
        border-top-left-radius: 0.358rem;
        border-top-right-radius: 0.358rem;
    }
    .variables-table .variables-table-header h4 {
        font-size: 15px;
        color: white;
    }
    .variables-table .variables-table-content {
        background-color: #0F0F0F;
        font-size: 14px;
        border-bottom-left-radius: 0.358rem;
        border-bottom-right-radius: 0.358rem;
        padding-block: 1rem;
    }
    .variables-table ul.variable-list  {
        list-style: none !important;
    }
    .variables-table ul.variable-list li.variable-element {
        padding-block: 12px;
        color: #10FB06;
        cursor: pointer;
        transition: all 0.015s ease-in-out;
    }
    .variables-table ul.variable-list li.variable-element:hover {
        background-color: #404656;
    }
    .variables-table ul.variable-list li.variable-element:not(:last-child) {
        border-bottom: 1px solid #404656;
    }

    .textarea-clone {
        color: white;
        height: 120px;

        outline: none;
        border: 1px solid #404656;
        border-radius: 0.357rem;
        padding: 1rem;
        transition: all 0.15s ease-in-out;
        line-height: 24px;
    }
    
    .textarea-clone:focus {
        border: 1px solid #10FB06;
    }
    .inserted-variable {
        padding-inline: 6px;
        margin-inline: 6px;
        border-radius: 5px;
        background-color: rgba(40, 199, 111, 0.12);
        color: #10FB03 !important;
    }
    .inserted-variable b {
        cursor: pointer;
        padding-left: 2px;
        font-size: 18px;
        color: white;
        font-size: 11px;
        margin-left: 4px;
        font-weight: 600;
        line-height: 5px;
        vertical-align: middle;
    }
</style>