<template>
    <main class="">
        <!-- this component has the code we need for our main logic -->
        <ht-looper></ht-looper> 
        <div class="row mx-0">
            <div class="looper-form d-flex flex-column bg-ht-main col-md-2 px-0" id="looper-form">
                <div class="looper-header d-flex justify-content-end bg-ht-main-700 p-3 mb-0">
                    <h2 class="mb-0 size-18">
                        List of instances
                    </h2>
                </div>
                <ul class="looper-navigation p-0 mb-0 text-end">
                    <li class="active py-3 pe-3">Instance 1</li>
                    <li class="py-3 pe-3">Instance 1</li>
                    <li class="py-3 pe-3">Instance 1</li>
                </ul>
                <div class="looper-available-space d-flex flex-column flex-grow-1 pt-3 px-2">
                    <button class="add-section weight-600 my-0 mx-1 bg-ht-main-700 size-13" data-bs-toggle="modal" data-bs-target="#add-instance">
                        <ht-icon name="add" color="var(--ht-main-700-text)" width="18px"></ht-icon>
                        Add new instance
                    </button>
                </div>
            </div>
            <div class="looper-result bg-ht-main col-md-10 p-5">
                <div class="ht-form-group">
                    <textarea name="tabulated" class="ht" id="code" cols="92" rows="50"></textarea>
                    <!-- Modal -->
                    <div class="modal fade" id="add-instance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="new-instance modal-dialog">
                            <div class="modal-content bg-ht-main">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add new instace</h5>
                                    <button class="p-0 m-0" data-bs-dismiss="modal">
                                        <ht-icon name="close" color="var(--ht-main-text)"></ht-icon>
                                    </button>
                                </div>
                                <div class="modal-body d-flex flex-column">
                                    <div class="">
                                        <label for="instance-name" class="ht color-ht-passive mb-2">
                                            Instance name
                                        </label>
                                        <input id="instance-name" name="instance-name" class="ht d-block" type="text">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn color-ht-main-text" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn bg-ht-highlight-400" id="add-new-instance">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
</script>
<style>
    .container {
        padding: 0;
        max-width: none;
    }
    .looper-available-space {
        border-right: 1px solid var(--ht-main-400);
    }
    ul.looper-navigation {}
    ul.looper-navigation li {
        border-bottom: 1px solid var(--ht-main-400);
        border-right: 1px solid var(--ht-main-400);
        cursor: pointer;
    }
    ul.looper-navigation li.active {
        position: relative;
        border-bottom: 0;
        border-right: 1px solid var(--ht-highlight-500);
        background-color: var(--ht-highlight-400);
        color: var(--ht-highlight-400-text) !important;
        cursor: unset;
    }
    ul.looper-navigation li.active::after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        right: 0;
        z-index: 2;
        background-color: var(--ht-highlight-500);
        
        width: 3px;
        height: 100%;
        
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    input.ht#instance-name {
        width: 280px;
    }

</style>