<template>
    <main class="home">
        <nav class="navbar-custom">
            <div class="logo">
                HyTech Gizmo
            </div>
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>

            <ul class="menuContainer menuOptsLeft">
                <li><a class="module active" href="javascript:void(0);">Home</a></li>
                <li><a class="module" href="javascript:void(0);">Customers</a></li>
                <li><a class="module" href="javascript:void(0);">Meetings</a></li>
                <li><a class="module" href="javascript:void(0);">Analytics</a></li>
                <li><a class="module" href="javascript:void(0);">Proposal Tools</a></li>
            </ul>
            <div class="menuOptsRight ms-auto">
                <ul class="menuContainer">
                    <li class="OptRight" data-bs-toggle="modal" data-bs-target="#globalSearch">
                        <ht-icon width="22" height="22" color="#fff" name="search"></ht-icon>
                    </li>
                    <li class="OptRight">
                        <ht-icon width="22" height="22" color="#fff" name="calendar"></ht-icon>
                    </li>
                    <li class="OptRight">
                        <div class="dropdown">
                            <ht-icon width="22" height="22" color="#fff" name="notification" id="notificationsMenu"
                                data-bs-toggle="dropdown" aria-expanded="false"></ht-icon>
                            <ul class="dropdown-menu dropdown-content" aria-labelledby="notificationsMenu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- OPTION PROFILE -->
                    <li class="OptRight">
                        <div class="d-flex align-items-center dropdown" id="profileMenu" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="user-nav">
                                <span class="user-name">John Doe</span>
                                <span class="user-status mt-1">Super User</span>
                            </div>
                            <span class="avatar-container">
                                <img class="avatar-img" src="https://picsum.photos/200" alt="avatar">
                            </span>
                            <ul class="dropdown-menu dropdown-content" aria-labelledby="profileMenu">

                                <h6 class="dropdown-header">
                                    <span class="avatar-profile">
                                        <img class="avatar-img" src="https://picsum.photos/200" alt="avatar">
                                    </span>
                                    <div class="profile-details">
                                        <span class="profile-name">John Doe</span>
                                        <span class="profile-email">johndoe@hytech.com</span>
                                    </div>

                                </h6>

                                <li>
                                    <div class="dropdown-item sw-theme">
                                        <ht-icon class="me-2" width="20" height="20" color="#5b5c5e"
                                            name="moon"></ht-icon>
                                        <span class="sw-title">Dark Mode </span>
                                        <div class="toggle-container">
                                            <label class="switch mb-0" id="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <div class="menu-profile">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <ht-icon class="me-2" width="20" height="20" color="#5b5c5e"
                                                name="setting2"></ht-icon>
                                            Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <ht-icon class="me-2" width="20" height="20" color="#5b5c5e"
                                                name="setting3"></ht-icon>
                                            Admin Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <ht-icon class="me-2" width="20" height="20" color="#5b5c5e"
                                                name="logout"></ht-icon>
                                            Log Out
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>

                    </li>

            </div>
            </ul>
            </div>

        </nav>

        <div class="content">

            <!-- <div class="container-search">
                <div class="btn-search">
                    <ht-icon class="icon-search" width="20px" height="20px" color="#9CA3AF" name="search"></ht-icon>
                    <span class="title-search">Search...</span>
                    <span class="short-search">Ctrl + F</span>
                    </button>
                </div>


            </div>
            <label class="switch mb-0 mx-auto" id="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> -->
        </div>

        <!-- Modal -->
        <div class="modal fade" id="globalSearch" tabindex="-1" aria-labelledby="globalSearchLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-search">
                            <div class="btn-search">
                                <ht-icon class="icon-search" width="20px" height="20px" color="#9CA3AF" name="search"></ht-icon>
                                <input class="search-value" placeholder="Search..."></input>
                                <span class="short-search">ESC</span>
                                </button>
                            </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
</template>

<script>
    $(document).ready(function () {

        $("a").click(function () {
            $(".menuOptsLeft li a").removeClass("active");
            $(this).addClass("active");
        });

        function openSearchKey(e) {
            if (e.shiftKey && e.code === 'KeyF') {
                $('#globalSearch').modal('show');
                return false;
            }
        }

        function closeSearchKey(e) {
            if (e.key === "Escape") {
                $('#globalSearch').modal('hide');
                return false;
            }
        }

        document.addEventListener('keyup', openSearchKey, false);
        document.addEventListener('keyup', closeSearchKey, false);
    });


</script>

<style>

    /* GLOBAL SEARCH MODAL */
    .modal-content {
        border: none !important;
        border-radius: 6px !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }



    /* ANIMATIONS */

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }


    /* DROPDOWN */

    .profile-email {
        font-size: 13px;
        font-weight: 400;
        color: #a1a0a3;
    }

    .profile-name {
        margin-bottom: 0 !important;
        font-size: 13px;
        font-weight: 500;
        color: #090909;
    }

    .profile-details {
        flex-direction: column;
        align-items: flex-start;
        float: right;
        margin-left: 0.5rem;
        display: flex !important;
        justify-content: space-evenly;
        height: 100%;
    }

    .sw-title {
        flex: 1 1 0%;
    }

    .sw-theme:hover {
        background-color: #FFF;
    }


    .dropdown-content .dropdown-divider {
        border-top: 1px solid #e4e4e4;
    }

    .dropdown-content .dropdown-item {
        text-align: start;
        padding: 8px 12px;
        text-decoration: none !important;
        display: flex;
        align-items: center;
        color: #5b5c5e !important;
        font-weight: 400;
        font-size: 14px;

        transition: all 0.2s ease-in-out;
    }

    .dropdown-content .dropdown-header {
        font-weight: 400;
        font-size: 13px;
        cursor: default;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .dropdown-header .avatar-profile {
        white-space: nowrap;
        display: inline-flex;
        vertical-align: middle;
    }

    .avatar-profile .avatar-img {
        border-radius: 50%;
        height: 35px;
        object-fit: cover;
        object-position: center;
        width: 35px;
        cursor: default;
    }

    .dropdown-content {
        display: none;
        opacity: 0;
        position: absolute;
        background-color: #fff;
        min-width: 220px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        z-index: 1;
        border-radius: 6px;
        border: none !important;
        animation: fadeIn 0.4s;
        cursor: default;

        margin-top: 5px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .dropdown-content.show {
        opacity: 1;
    }

    .dropdown-content a:hover {
        background-color: #f5f5f5;
        color: #090909 !important;
    }

    /* GLOBAL SEARCH */
    .short-search {
        color: #9CA3AF;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 600;
        flex: none;
        border: 1px solid #9ca3af44;
        border-radius: 5px;
        padding: 5px;
    }

    .search-value {
        color: #090909;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: left;
        border: none;
        background: transparent;
        flex: 1 1 0%;
    }

    .search-value:focus {
        outline: none !important;
    }

    .icon-search {
        margin-right: 0.5rem;
    }

    .container-search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-search {
        background-color: #fff !important;
        display: flex;
        align-items: center;
        width: 30rem;
    }

    /* NAVBAR */
    .user-name {
        margin-bottom: 0 !important;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
    }

    .user-status {
        font-size: 12px;
        font-weight: 200 !important;
        color: #e6e6e6;
    }

    .user-nav {
        flex-direction: column;
        align-items: flex-end;
        float: left;
        margin-right: 0.8rem;
        display: flex !important;
        justify-content: space-evenly;
        height: 100%;
    }

    .menuOptsRight {
        flex-direction: row;
        align-items: center !important;
        justify-content: flex-end !important;
        display: flex !important;
    }

    .OptRight {
        display: flex;
        align-items: center;
        margin-left: 1.25rem !important;
        cursor: pointer;
    }

    .avatar-container {
        white-space: nowrap;
        cursor: pointer;
        display: inline-flex;
        vertical-align: middle;
    }

    .avatar-img {
        border-radius: 50%;
        height: 40px;
        object-fit: cover;
        object-position: center;
        width: 40px;
        cursor: pointer;
    }

    .container {
        max-width: none !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .navbar-custom {
        display: flex;
        height: 60px;
        width: 100%;
        background: #090909;
        align-items: center;
        padding: 0 25px 0 25px;
        flex-wrap: wrap;
    }

    .navbar-custom .logo {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
    }

    .navbar-custom .menuContainer {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 0px !important;
    }


    .navbar-custom ul li .module {
        margin: 0 5px;
        color: #666666 !important;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 10px;
        border-radius: 3px;
        transition: all 0.4s ease;
    }

    .navbar-custom ul li .module.active {
        text-decoration: none !important;
        color: #111 !important;
        background: #fff !important;
    }


    .navbar-custom ul li .module:hover:not(.active) {
        color: white !important;
        text-decoration: none !important;
    }

    .navbar-custom .menu-btn i {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    @media (max-width: 1200px) {
        .navbar-custom {
            padding: 0 10px 0 10px;
        }
    }

    @media (max-width: 1000px) {
        .navbar-custom .menu-btn i {
            display: block;
        }

        #click:checked~.menu-btn i:before {
            content: "\f00d";
        }

        .navbar-custom ul {
            position: fixed;
            top: 80px;
            left: -100%;
            background: #111;
            height: 100vh;
            width: 100%;
            text-align: center;
            display: block;
            transition: all 0.3s ease;
        }

        #click:checked~ul {
            left: 0;
        }

        .navbar-custom ul li {
            width: 100%;
            margin: 40px 0;
        }

        .navbar-custom ul li a {
            width: 100%;
            margin-left: -100%;
            display: block;
            font-size: 20px;
            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        #click:checked~ul li a {
            margin-left: 0px;
        }

        .navbar-custom ul li a.active,
        .navbar-custom ul li a:hover {
            background: none;
            color: cyan;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: -1;
        width: 100%;
        padding: 0 30px;
        color: #1b1b1b;
    }
</style>