<template>
    <main class="home">
        <nav>
            <div class="logo">
                HyTech Gizmo
            </div>
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>

            <ul class="menuOpts">
                <li><a class="active" href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Customers</a></li>
                <li><a href="javascript:void(0);">Meetings</a></li>
                <li><a href="javascript:void(0);">Analytics</a></li>
                <li><a href="javascript:void(0);">Proposal Tools</a></li>
                <li>
                    <a>
                        <i class="fa-lg fa-solid fa-ellipsis-vertical"></i>
                    </a>
                </li>
            </ul>

        </nav>

        <div class="content">
            <div>
                HyTech Responsive Navigation
            </div>
            <div>
                Menu Bar Design
            </div>
        </div>

    </main>
</template>

<script>
    $(document).ready(function () {
        $("a").click(function () {
            $(".menuOpts li a").removeClass("active");
            $(this).addClass("active");
        });
    });

</script>

<style>
    .container {
        max-width: none !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    #ht-navigation-nav {
        display: none !important;
    }

    .fa-ellipsis-vertical {
        color: #666666 !important;
        cursor: pointer;
    }

    nav {
        display: flex;
        height: 60px;
        width: 100%;
        background: #090909;
        align-items: center;

        padding: 0 50px 0 50px;
        flex-wrap: wrap;
    }

    nav .logo {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 0px !important;
    }

    nav ul li {
        margin: 0 5px;
    }

    nav ul li a {
        color: #666666 !important;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 10px;
        border-radius: 3px;
        transition: all 0.4s ease;
    }

    nav ul li a.active {
        text-decoration: none !important;
        color: #111 !important;
        background: #fff !important;
    }


    nav ul li a:hover:not(.active) {
        color: white !important;
        text-decoration: none !important;
    }

    nav .menu-btn i {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    @media (max-width: 1000px) {
        nav {
            padding: 0 40px 0 50px;
        }
    }

    @media (max-width: 920px) {
        nav .menu-btn i {
            display: block;
        }

        #click:checked~.menu-btn i:before {
            content: "\f00d";
        }

        nav ul {
            position: fixed;
            top: 80px;
            left: -100%;
            background: #111;
            height: 100vh;
            width: 100%;
            text-align: center;
            display: block;
            transition: all 0.3s ease;
        }

        #click:checked~ul {
            left: 0;
        }

        nav ul li {
            width: 100%;
            margin: 40px 0;
        }

        nav ul li a {
            width: 100%;
            margin-left: -100%;
            display: block;
            font-size: 20px;
            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        #click:checked~ul li a {
            margin-left: 0px;
        }

        nav ul li a.active,
        nav ul li a:hover {
            background: none;
            color: cyan;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: -1;
        width: 100%;
        padding: 0 30px;
        color: #1b1b1b;
    }

    .content div {
        font-size: 40px;
        font-weight: 700;
    }
</style>