<template>
    <ht-formula></ht-formula>
    <main class="formula row justify-content-center">
        <div class="col-md-7">
            <h4 class="ht-title color-ht-main-text mb-4 text-center">
                Finance title creator
            </h4>
        </div>
        <div class="col-md-10">
            <div class="control-panel d-flex">
                <button class="bg-ht-main mt-0 ml-0 mr-1 " id="fill">
                    <i class="fa-solid fa-pencil"></i>
                </button>
                <button class="bg-ht-main mt-0 mx-1" id="clear">
                    <i class="fa-solid fa-retweet"></i>
                </button>
                <button class="bg-ht-main mt-0 mx-1" id="save">
                    <i class="fa-solid fa-floppy-disk"></i>
                </button>
                <button class="bg-ht-main mt-0 ml-auto mr-0">
                    <i class="fa-solid fa-print"></i>
                </button>
            </div>
            <div id="tip-tap" class="wrapper tip-tap"></div>
        </div>
        <div class="col-md-10 mt-5 color-ht-deactivated" id="editor-json-output"></div>
    </main>
</template>
<script>
    
</script>
<style>
    .formula .control-panel button, div.wrapper.tip-tap {
        border: 1px solid var(--ht-highlight);
    }
    div.wrapper.tip-tap {
        background-color: var(--ht-main);
        border-radius: 4px;
        height: 220px;
    }
    main.row {
        margin-top: 4rem;
    }


    .ProseMirror:focus {
        outline: 0;
    }
    .ProseMirror {
    }
    .paragraph {
        color: var(--ht-main-text);
        padding: 1rem;
        line-height: 1.2;
    }
    .ProseMirror p.is-editor-empty:first-child::before {
        color: var(--ht-main-400);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
    ul.suggestion-list {
        border-radius: 5px;
        padding: 0.5rem;
    }
    li.suggestion {}
    li.suggestion:not(:last-child) {
        margin-bottom: 12px;
    }
    li.suggestion.active {
        color: var(--ht-main-400-text) !important;
        z-index: 1;
    }
    li.suggestion.active::after {
        content: ' ';
        display: block;
        position: absolute;

        background-color: var(--ht-main-400) !important;

        width: calc(100% + 17px);
        height: 29px;
        left: -9px;
        transform: translateY(-25px);
        z-index: -1;
    }
    mark {
        color: white;
        background-color: transparent;
    }
    span.ht-mention {
        background-color: rgba(40, 199, 111, 0.12);
        color:#10FB03 !important;
        padding-block: 0.2rem;
        padding-inline: 0.7rem;
        border-radius: 5px;
        margin-inline: 0.2rem;
    }

    h4.ht-title {
        font-size: 3rem;
        
    }
</style>