<template>
    <main class="d-flex">
        <ht-legacy-sidebar></ht-legacy-sidebar>
        <div class="ht-container d-flex flex-column py-4 overflow-hidden">
            <div class="ht-filters-container d-flex align-items-end">
                <div class="filter user-filter ht-border-1 d-flex align-items-center">
                    <i class="fa-solid fa-user"></i>
                    <h4 class="mb-0">User</h4>
                    <i class="fa-solid fa-caret-down ml-auto"></i>
                </div>
                <div class="filter module-filter ht-border-1 d-flex align-items-center">
                    <i class="fa-solid fa-table-columns"></i>
                    <h4 class="mb-0">Modules</h4>
                    <i class="fa-solid fa-caret-down ml-auto"></i>
                </div>
                <div class="filter date-filter ht-border-1 d-flex align-items-center">
                    <i class="fa-solid fa-calendar"></i>
                    <h4 class="mb-0">From</h4>
                    <i class="fa-solid fa-caret-down ml-auto"></i>
                </div>
                <div class="filter date-filter ht-border-1 d-flex align-items-center">
                    <i class="fa-solid fa-calendar"></i>
                    <h4 class="mb-0">To</h4>
                    <i class="fa-solid fa-caret-down ml-auto"></i>
                </div>
                <button  class="apply ml-auto">
                    Apply
                </button>
                <button  class="remove">
                    <i class="fa-regular fa-trash-can"></i>
                </button>
            </div>  
            <div class="ht-info-container ht-border-1 d-flex flex-grow-1 overflow-hidden">
                <div class="ht-info-navigation flex-grow-2" id="myTab" role="tablist">
                    <h4 class="ht-info-navigation-title text-center">
                        Communication’s Hub
                    </h4>
                    <ul class="ht-info-navigation-list">
                        <li class="header">    
                            Notes
                        </li>
                        <li class="d-flex" role="presentation" id="public-notes-tab" data-bs-toggle="tab" data-bs-target="#public-notes" role="tab" aria-controls="public-notes" aria-selected="false">    
                            Public notes
                            <span class="ml-auto">20</span>
                        </li>
                        <li class="d-flex" role="presentation" id="private-notes-tab" data-bs-toggle="tab" data-bs-target="#private-notes" role="tab" aria-controls="private-notes" aria-selected="false">
                            Private notes
                            <span class="ml-auto">20</span>
                        </li>
                    </ul>
                    <ul class="ht-info-navigation-list">
                        <li class="header">    
                            Mentions
                        </li>
                        <li class="d-flex" role="presentation" id="public-mentions-tab" data-bs-toggle="tab" data-bs-target="#public-mentions" role="tab" aria-controls="public-mentions" aria-selected="false">    
                            Public Mentions
                            <span class="ml-auto">20</span>
                        </li>
                        <li class="active d-flex" role="presentation" id="private-mentions-tab" data-bs-toggle="tab" data-bs-target="#private-mentions" role="tab" aria-controls="private-mentions" aria-selected="true">
                            Private Mentions
                            <span class="ml-auto">20</span>
                        </li>
                    </ul>
                </div>
                <div class="ht-info-items tab-content flex-grow-2" id="ht-tab-content">
                    <ul class="tab-pane fade" id="public-notes" role="tabpanel" aria-labelledby="public-notes-tab">
                        <li class="ht-title d-flex align-items-center justify-content-between">Public notes
                            <button type="button" class="ht-filter-results">
                                <i class="fa-solid fa-filter"></i>
                                Add filters
                            </button>
                        </li>
                    </ul>
                    <ul class="tab-pane fade show active" id="private-mentions" role="tabpanel" aria-labelledby="private-mentions-tab">
                        <li class="ht-title d-flex align-items-center justify-content-between">
                            Private Mentions
                            <button type="button" class="ht-filter-results">
                                <i class="fa-solid fa-filter"></i>
                                Add filters
                            </button>
                        </li>
                        <li class="selected">
                            <div class="ht-info-notification-container">
                                <div class="ht-header d-flex justify-content-between align-items-center">
                                    <div class="to-notification text-truncate">
                                        To: Pablo Perez
                                    </div>
                                    <date class="ht-date">
                                        3 Jan, 12:10 AM
                                    </date>
                                </div>
                                <div class="ht-title">
                                    <p class="mb-0">Lead - John Doe</p>
                                </div>
                                <div class="ht-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ht-mark d-flex">
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        Mark as completed
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ht-info-notification-container">
                                <div class="ht-header d-flex justify-content-between align-items-center">
                                    <div class="to-notification text-truncate">
                                        To: Pablo Perez
                                    </div>
                                    <date class="ht-date">
                                        3 Jan, 12:10 AM
                                    </date>
                                </div>
                                <div class="ht-title">
                                    <p class="mb-0">Lead - John Doe</p>
                                </div>
                                <div class="ht-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ht-mark d-flex">
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        Mark as completed
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ht-info-notification-container">
                                <div class="ht-header d-flex justify-content-between align-items-center">
                                    <div class="to-notification text-truncate">
                                        To: Pablo Perez
                                    </div>
                                    <date class="ht-date">
                                        3 Jan, 12:10 AM
                                    </date>
                                </div>
                                <div class="ht-title">
                                    <p class="mb-0">Lead - John Doe</p>
                                </div>
                                <div class="ht-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ht-mark completed d-flex">
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        Completed
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ht-info-notification-container">
                                <div class="ht-header d-flex justify-content-between align-items-center">
                                    <div class="to-notification text-truncate">
                                        To: Pablo Perez
                                    </div>
                                    <date class="ht-date">
                                        3 Jan, 12:10 AM
                                    </date>
                                </div>
                                <div class="ht-title">
                                    <p class="mb-0">Lead - John Doe</p>
                                </div>
                                <div class="ht-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ht-mark completed d-flex">
                                    <span>
                                        <i class="fa-solid fa-check"></i> 
                                        Completed
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ht-info-notification-container">
                                <div class="ht-header d-flex justify-content-between align-items-center">
                                    <div class="to-notification text-truncate">
                                        To: Pablo Perez
                                    </div>
                                    <date class="ht-date">
                                        3 Jan, 12:10 AM
                                    </date>
                                </div>
                                <div class="ht-title">
                                    <p class="mb-0">Lead - John Doe</p>
                                </div>
                                <div class="ht-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ht-mark completed d-flex">
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        Completed
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ht-info-notification-container">
                                <div class="ht-header d-flex justify-content-between align-items-center">
                                    <div class="to-notification text-truncate">
                                        To: Pablo Perez
                                    </div>
                                    <date class="ht-date">
                                        3 Jan, 12:10 AM
                                    </date>
                                </div>
                                <div class="ht-title">
                                    <p class="mb-0">Lead - John Doe</p>
                                </div>
                                <div class="ht-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ht-mark completed d-flex">
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        Completed
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ht-info-notification-container">
                                <div class="ht-header d-flex justify-content-between align-items-center">
                                    <div class="to-notification text-truncate">
                                        To: Pablo Perez
                                    </div>
                                    <date class="ht-date">
                                        3 Jan, 12:10 AM
                                    </date>
                                </div>
                                <div class="ht-title">
                                    <p class="mb-0">Lead - John Doe</p>
                                </div>
                                <div class="ht-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ht-mark completed d-flex">
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        Completed
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ht-info-notification-container">
                                <div class="ht-header d-flex justify-content-between align-items-center">
                                    <div class="to-notification text-truncate">
                                        To: Pablo Perez
                                    </div>
                                    <date class="ht-date">
                                        3 Jan, 12:10 AM
                                    </date>
                                </div>
                                <div class="ht-title">
                                    <p class="mb-0">Lead - John Doe</p>
                                </div>
                                <div class="ht-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ht-mark completed d-flex">
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        Completed
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="tab-pane fade" id="public-mentions" role="tabpanel" aria-labelledby="public-mentions-tab">
                        <li class="ht-title d-flex align-items-center justify-content-between">Public Mentions
                            <button type="button" class="ht-filter-results">
                                <i class="fa-solid fa-filter"></i>
                                Add filters
                            </button>
                        </li>
                    </ul>
                    <ul class="tab-pane fade" id="private-notes" role="tabpanel" aria-labelledby="private-notes-tab">
                        <li class="ht-title d-flex align-items-center justify-content-between">Privates notes
                            <button type="button" class="ht-filter-results">
                                <i class="fa-solid fa-filter"></i>
                                Add filters
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="ht-info-view d-flex flex-column flex-grow-1">
                    <div class="ht-info-view-header d-flex justify-content-between align-items-center align-content-center">
                        Lead John Doe
                        <div class="header-pagination">
                            <i class="fa-solid fa-circle-arrow-left disabled"></i>
                            1 of 178
                            <i class="fa-solid fa-circle-arrow-right enabled"></i>
                        </div>
                        <div class="header-actions">
                            <button class="actions-go p-0">
                                <i class="fa-solid fa-arrow-trend-up"></i>
                            </button>
                            <button class="actions-menu p-0">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ht-info-view-content d-flex justify-content-center align-content-center align-items-center h-100">
                        <img src="../assets/no-items-selected.png" class="no-items-selected" alt="" >
                        <div class="ht-content d-none flex-grow-1 h-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    const notifications_results = [
        {
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.',
            completed: false, 
        },
        {
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.',
            completed: false, 
        },
        {
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lorem, commodo quis lectus cursus, scelerisque pharetra velit. Sorem ipsum dolor sit amet, consectetur adipiscing elit.',
            completed: true,
        },
        {
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            completed: true, 
        },
        {
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            completed: true, 
        },
    ]
    notifications_results.forEach(el => {
        // console.log(el);
    });
</script>
<style>
    .ht-container {
        padding-inline: 28px;
        width: 100%;
    }
    .ht-filters-container button.apply {
        background-color: #35404B;
        color: #F1F8FF;
        margin: 0;

        padding: 6px 28px ;
        margin-right: 12px;

        font-size: 12px;
        height: 30px;
    }
    .ht-filters-container button.apply:hover {
        background-color: #4f5f6e;
    }
    .ht-filters-container button.remove {
        margin: 0;
        background-color: #1C1C1C;
        color: #999999;
        border: 1px solid #323232;
        font-size: 16px;

        height: 30px;
        padding: 0px 14px;
    }
    .ht-filters-container button.remove:hover {
        background-color: #323232;
        color: #FFF;
    }
    .ht-border-1 {
        border: 1px solid #323232; 
    }
    .filter {
        height: 30px;
        border-radius: 8px;
        background-color: #1C1C1C;
        padding-inline: 14px;
        margin-right: 25px;
    }
    .filter.user-filter, .filter.module-filter {
        width: 270px;
    }
    .filter.date-filter {
        width: 180px;
    }
    .filter h4 {
        font-size: 12px;
        margin-left: 18px;
    }
    .ht-info-container {
        margin-top: 16px;
        border-radius: 8px;
    }
    .ht-info-navigation {
        width: 270px;
        background-color: #1C1C1C;
    }
    .ht-info-navigation, .ht-info-items {
        padding-top: 2.5rem;
        padding-inline: 1rem;
    }

    h4.ht-info-navigation-title {
        color: #F1F8FF;
        font-size: 18px;
        margin-bottom: 24px;
    }
    ul.ht-info-navigation-list {
        padding-left: 18px;
        margin-bottom: 15px;
    }
    ul.ht-info-navigation-list li.header {
        font-size: 18px;
        color: #F1F8FF;
        
        padding-left: 0px;
        margin-bottom: 0px;
    }
    ul.ht-info-navigation-list li {
        width: 96%;
        border-radius: 6px;
        color: #666666;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 14px;
        cursor: pointer;

        transition: background-color 0.15s ease-in-out;
    }
    ul.ht-info-navigation-list li:hover {
        color: #F1F8FF;
    }
    ul.ht-info-navigation-list li.active {
        padding: 8px 12px;
        border: 2px solid #323232;
        color: #F1F8FF;
        background-color: #0F0F0F;
    }
    ul.ht-info-navigation-list li span {}
    .ht-info-navigation, .ht-info-items {
        border-right: 1px solid #323232; 
    }   
    .ht-info-items {
        max-height: min-content;
        width: 480px;
        background-color: #0F0F0F;
    }
    .ht-info-view {
        background-color: #0F0F0F;
    }
    .ht-info-view-header {
        padding: 12px 18px;
        border-bottom: 1px solid #323232; 
    }
    .ht-info-view-header .header-pagination {
        color: #999999;
    }
    .ht-info-view-header .header-pagination .fa-solid {
        cursor: pointer;
    }

    .ht-info-view-header .header-pagination i:first-child {
        margin-right: 24px;
    }
    .ht-info-view-header .header-pagination i:nth-child(2) {
        margin-left: 24px;
    }
    .ht-info-view-header .header-pagination i.disabled {
        color: #999999;
    }
    .ht-info-view-header .header-pagination i.enabled {
        color: #F1F8FF;
    }
    .ht-info-view-header button {
        margin: 0;
    }
    .header-actions .actions-go .fa-arrow-trend-up{
        margin-right: 12px;
    }
    .ht-info-view-content {
        padding: 28px;
    }
    .ht-info-view-content .ht-content {
        background-color: #1F1F1F;
        border-radius: 12px;
    }
    .ht-info-view-content .no-items-selected {
        width: 172px;
        height: 140px;
    }
    .fa-solid {
        position: relative;
        z-index: 2;
        transition: all 0.15s ease-in-out;
    }
    .fa-solid:hover {
        cursor: pointer;
    }
    .fa-solid:after {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 3.2rem;
        transition: all 0.15s ease-in-out;
    }
    .fa-solid:before {
        transition: all 0.15s ease-in-out;
    }
    :is(.fa-ellipsis-vertical, .fa-arrow-trend-up).fa-solid:hover::after {
        background-color: #32323299;
    }
    :is(.fa-circle-arrow-left, .fa-circle-arrow-right).fa-solid:hover::before {
        color: white;
    }
    .fa-ellipsis-vertical::after {
        top: -43%;
        translate: -13px;
    }
    .fa-arrow-trend-up:after {
        top: -39%;
        translate: -5px;
    }
    .ht-info-items ul {
        padding-left: 0;
        overflow-y: scroll;
        max-height: calc(100vh - 154px);
        margin-bottom: 0;
    }
    .ht-info-items ul li {
        padding: 14px 16px;
        margin-bottom: 20px;
        border-radius: 8px;
        cursor: pointer;
    }
    .ht-info-items ul li.selected {
        background-color: #1C1C1C;
        
        cursor: default;
    }
    .ht-info-items ul li .ht-header .to-notification {
        font-size: 14px;
        background-color: #1C1C1C;
        border-radius: 4px;
        padding: 4px 8px;
    }
    
    .ht-info-items ul li.selected .ht-header .to-notification {
        background-color: #0F0F0F;
    }
    .ht-info-items ul li .ht-header .ht-date {
        font-size: 12px;
        color: #999999;
    }
    .ht-info-items ul li .ht-title {
        margin-block: 8px;
    }
    .ht-info-items ul li .ht-title p {
        font-size: 12px;
        color: #999999;
    }
    .ht-info-items ul li .ht-content {
        margin-bottom: 12px;
    }
    .ht-info-items ul li .ht-content p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.35;
    }
    .ht-info-items ul li .ht-mark {
        width: max-content;
        background-color: #1C1C1C;
        font-size: 12px;
        padding: 6px 8px;
        border: 1px solid #323232;
        border-radius: 5px;
    }
    .ht-info-items ul li .ht-mark.completed {
        background-color: #003215;
        color: #69C652;
        border-color: #003215;
    }
    .ht-info-items ul li .ht-mark i {
        margin-right: 6px;
    }


/* not so sure that they're gonna make it STYLES */
    .ht-info-items ul li.ht-title {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .ht-info-items {
        padding-top: .5rem;
    }
    .ht-filter-results {
        font-size: 14px;

        margin: 0;
        padding-block: 8px;

        background-color: #4f5f6e;
    }
    .ht-filter-results i {
        margin-right: 4px;
    }
</style>