<template>
    <main class="task-drawer">
        <button id="toggle-task-drawer" class="bg-ht-main px-4">
            Toggle drawer
        </button>
        <div class="drawer position-fixed bg-ht-main" id="task-drawer">
            <div class="d-flex flex-column task-panel w-100">
                <div class="close-container">
                    <div id="close-task-drawer" class="close-content d-flex justify-content-center position-relative flex-shrink-0 cursor-pointer">
                        <ht-icon name="close" color="var(--ht-main-text)" width="25px"></ht-icon>
                    </div>
                </div>
                <div class="header">
                    <div class="proyect d-flex align-items-center">
                        <ht-icon name="case" color="var(--ht-passive)" class="flex-shrink-0"></ht-icon>
                        <h5 class="size-16 weight-600 color-ht-passive mb-0 mt-1">Proyecto 23</h5>
                    </div>
                    <h1 class="main-title size-24 color-ht-text">
                        Completar el texto del home en modo oscuro
                    </h1>
                    <time class="color-gray-50 weight-600 color-ht-passive" datetime="2022-09-03"> 3 sept. 2022 </time>
                </div>

                <div class="tags-container d-flex flex-wrap">
                    <div class="tag d-flex align-items-center bg-ht-highlight p-2">
                        <ht-icon name="tag" color="var(--ht-passive)" class="me-2 mb-0" width="12px"></ht-icon>
                        <span class="text-truncate size-13 weight-600 ml-1"> tag </span>
                    </div>
                    <div class="tag d-flex align-items-center bg-ht-highlight p-2">
                        <ht-icon name="tag" color="var(--ht-passive)" class="me-2 mb-0" width="12px"></ht-icon>
                        <span class="text-truncate size-13 weight-600 ml-1"> bigger tag </span>
                    </div>
                    <div class="tag d-flex align-items-center bg-ht-highlight p-2">
                        <ht-icon name="tag" color="var(--ht-passive)" class="me-2 mb-0" width="12px"></ht-icon>
                        <span class="text-truncate size-13 weight-600 ml-1"> Saludos buenas como se encuentra su persona </span>
                    </div>
                    <div class="tag d-flex align-items-center bg-ht-highlight p-2">
                        <ht-icon name="tag" color="var(--ht-passive)" class="me-2 mb-0" width="12px"></ht-icon>
                        <span class="text-truncate size-13 weight-600 ml-1"> overflowing tag </span>
                    </div>
                </div>
        
                <div class="task-description position-relative overflow-hidden" id="content-description">
                    <h4 class="color-ht-passive weight-600 size-14">Descripción</h4>
                    <p class="position-absolute color-text size-15 weight-300" id="content">
                        Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the 
                        migration will be creating a new table. 
                        If Laravel is able to determine the table name from the migration 
                        name, Laravel will pre-fill the generated migration file with the specified table. Otherwise, you may simply
                        specify the table in the migration file manually. Laravel will use the name of the migration to attempt to guess 
                        the name of the table and w Laravel will pre-fill the generated migration file with the specified table. Otherwise, you may simply
                        specify the table in the migration file manually. Laravel will use the name of the migration to attempt to guess 
                        the name of the table and w Laravel will pre-fill the generated migration file with the specified table. Otherwise, you may simply
                        specify the table in the migration file manually. Laravel will use the name of the migration to attempt to guess 
                        the name of the table and w Laravel will pre-fill the generated migration file with the specified table. Otherwise, you may simply
                        specify the table in the migration file manually. Laravel will use the name of the migration to attempt to guess 
                        the name of the table and w 
                    </p>
                    <div class="see-more position-absolute w-100 d-flex align-items-center justify-content-end">
                        <div class="content cursor-pointer d-flex align-items-center me-3 pb-0" id="see-more-description">
                            <span class="d-flex justify-content-center flex-column size-13 weight-600">Mostrar más</span>
                            <ht-icon name="down-arrow" color="var(--ht-main-text)" width="12px"></ht-icon>
                        </div>
                    </div>
                </div>
                
                <div class="task-asignee-container position-relative w-100">
                    <div class="task-assignee-date d-flex align-items-center w-100 " id="task-info">
                        <div class="assignee d-flex align-content-center">
                            <img src="../assets/user.png" alt="">
                            <div class="info d-flex flex-column justify-content-center">
                                <h4 class="size-15 color-text">
                                    Responsable
                                </h4>
                                <p class="size-18 weight-300 mb-0 color-text">
                                    Luis Miguel
                                </p>
                            </div>
                        </div>
                        <div class="date">
                            <h4 class="size-15 color-text">
                                Fecha de entrega
                            </h4>
                            <time class="size-18 weight-300 color-text" datetime="2023-09-3">
                                3 sept. 2023
                            </time>
                        </div>
                    </div>
                </div>
        
                <div class="subtasks position-relative overflow-hidden" id="content-subtasks">
                    <h4 class="color-ht-passive weight-600 size-14">Subtareas</h4>
                    <ul class="subtasks-title position-absolute ps-2" id="content">
                        <li class="d-flex">
                            <div class="check-box checked d-flex justify-content-center align-items-center flex-shrink-0">
                                <ht-icon name="check" color="var(--ht-main)" width="15px"></ht-icon>
                            </div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                    </ul>
                    <div class="see-more position-absolute w-100 d-flex align-items-center justify-content-end">
                        <div class="content cursor-pointer d-flex align-items-center pb-0" id="see-more-subtasks">
                            <span class="d-flex justify-content-center flex-column color-text size-13 weight-600">Mostrar más</span>
                            <ht-icon name="down-arrow" color="var(--ht-main-text)" width="12px"></ht-icon>
                        </div>
                    </div>
                </div>
                <div class="comments-section">
                    <h4 class="color-ht-passive weight-600 size-14">Comentarios</h4>
                    <ul class="comments ps-2">
                        <li class="d-flex">
                            <img src="../assets/user.png" class="flex-shrink-0" alt="imagen">
                            <div class="content">
                                <span class="d-flex align-items-end"> 
                                    <h5 class="text-truncate color-text weight-500 mb-0 size-14">
                                        Wilfred Gabriel Pichardo López
                                    </h5>
                                    <time class="color-ht-passive ml-auto weight-500 size-12">
                                        Hace 8 minutos
                                    </time>
                                </span>
                                <p class="color-text size-14 weight-300">
                                    Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the migration will be creating a new table. If Laravel is able to determine the table name from the migration name,
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <img src="../assets/user.png" class="flex-shrink-0" alt="imagen">
                            <div class="content">
                                <span class="d-flex align-items-end"> 
                                    <h5 class="text-truncate color-text weight-500 mb-0 size-14">
                                        Wilfred Gabriel Pichardo López
                                    </h5>
                                    <time class="color-ht-passive ml-auto weight-500 size-12">
                                        Hace 10 minutos
                                    </time>
                                </span>
                                <p class="color-text size-14 weight-300">
                                    Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the migration will be creating a new table. If Laravel is able to determine the table name from the migration name,
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <img src="../assets/user.png" class="flex-shrink-0" alt="imagen">
                            <div class="content">
                                <span class="d-flex align-items-end"> 
                                    <h5 class="text-truncate color-text weight-500 mb-0 size-14">
                                        Wilfred Gabriel Pichardo López
                                    </h5>
                                    <time class="color-ht-passive ml-auto weight-500 size-12">
                                        Hace 10 minutos
                                    </time>
                                </span>
                                <p class="color-text size-14 weight-300 ">
                                    Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the migration will be creating a new table. If Laravel is able to determine the table name from the migration name,
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <img src="../assets/user.png" class="flex-shrink-0" alt="imagen">
                            <div class="content">
                                <span class="d-flex align-items-end"> 
                                    <h5 class="text-truncate color-text weight-500 mb-0 size-14">
                                        Wilfred Gabriel Pichardo López
                                    </h5>
                                    <time class="color-ht-passive ml-auto weight-500 size-12">
                                        Hace 10 minutos
                                    </time>
                                </span>
                                <p class="color-text size-14 weight-300 overflow-hidden">
                                    Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the migration will be creating a new table. If Laravel is able to determine the table name from the migration name,
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    const papo = await import('./secrets-of-papo.js'); 
// export default () => {
// const document = document.createdocument("div");
// document.innerHTML = view;

//this event will trigger when we open the task in question
// const highlight_btn = document.querySelector('#highlight');
// let timer;
// const highlight = () => {
//     clearTimeout(timer);
//     const area = document.querySelector('#task-info');
//     area.classList.remove('blink');
//     area.classList.add('blink');
//     timer = setTimeout(() => {
//         area.classList.remove('blink');
//     }, 1200);
// }
// highlight_btn.addEventListener('click', highlight);

const px = (label) => label+'px';
// see-more-description
// see-more-subtasks
const handle_limited = ({id, margin_bottom}) => {
        const btn = document.querySelector(`#see-more-${id}`);
        const div = document.querySelector(`#content-${id}`);
        const content = div.querySelector('#content');
        const title = div.querySelector('h4');
        const height = content.clientHeight;

        //assign the margin-bottom in question
        // remove the show-more button if the space doesn't exceed the maximun height
        if (height < margin_bottom) {
            title.style.marginBottom = px(height);
            btn.remove();
            return;
        } else {
            title.style.marginBottom = px(margin_bottom);
        }

        btn.addEventListener('click', () => {
            const label = btn.querySelector('span').textContent;
            const arrow = btn.querySelector('svg');

            const closed = label === 'Mostrar más';

            const toggle = (rotate, open_space, text) => {
                arrow.style.transform = rotate;
                title.style.marginBottom = open_space;
                btn.querySelector('span').textContent = text;

                // make the text overflow only if we opened the section
                content.style["overflow-y"] = text === 'Mostrar menos' ? 'scroll': '';
                content.scrollTop = 0; // scrolling back to the top to not save said behaviour.
            }
            closed ? toggle('rotate(-180deg)', px(content.clientHeight + 59), 'Mostrar menos') : toggle('rotate(0deg)', px(margin_bottom ),  'Mostrar más');
        });
    }

    const see_more = {
        description: {
            id: 'description',
            margin_bottom: 140, // the space we want to always show to the client
        },
        subtasks: {
            id: 'subtasks',
            margin_bottom: 160,
        }
    }

    handle_limited(see_more['description']);
    handle_limited(see_more['subtasks']);

    const taskDrawer = $('#task-drawer');
    // setting the initial value
    let taskDrawerStatus = window.localStorage.getItem('taskDrawer');

    //if its the first time we enter we set it to closed
    if (!taskDrawerStatus) {
        window.localStorage.setItem('taskDrawer', 'closed')
        taskDrawerStatus = 'closed'
    };

    if (taskDrawerStatus === 'opened') {
        taskDrawer.addClass('opened');
    }else if(taskDrawerStatus === 'closed') {
        taskDrawer.removeClass('opened');
    }

    const toggleTaskDrawer = () => {
        taskDrawerStatus = window.localStorage.getItem('taskDrawer');
        if (taskDrawerStatus === 'opened') {
            window.localStorage.setItem('taskDrawer', 'closed');
            taskDrawer.removeClass('opened');
        }else if(taskDrawerStatus === 'closed') {
            window.localStorage.setItem('taskDrawer', 'opened');
            taskDrawer.addClass('opened');
        }
    };
    const toggler = document.querySelector('#toggle-task-drawer');
    const close = document.querySelector('#close-task-drawer');

    toggler.addEventListener('click', toggleTaskDrawer);
    close.addEventListener('click', toggleTaskDrawer);
</script>
<style>
    
</style>