<template>
    <main class="task-drawer">
        <button id="toggle-task-drawer" class="bg-main px-4">
            Toggle drawer
        </button>
        <div class="drawer position-fixed bg-main" id="task-drawer">
            <div class="d-flex flex-column task-panel w-100">
        
                <div class="close-container" id="close-task-drawer">
                    <div class="close-content d-flex justify-content-center position-relative flex-shrink-0 cursor-pointer">
                        <svg class="flex-shrink-0" width="25" height="25" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7245 5.2756L6.17334 15.8268" stroke="var(--main-text)" stroke-width="1.64" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.17334 5.2756L16.7245 15.8268" stroke="var(--main-text)" stroke-width="1.64" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div> 
        
                <div class="header">
                    <div class="proyect d-flex align-items-center">
                        <svg width="18" height="18" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 3H2C1.44772 3 1 3.44772 1 4V9C1 9.55228 1.44772 10 2 10H10C10.5523 10 11 9.55228 11 9V4C11 3.44772 10.5523 3 10 3Z" stroke="rgba(var(--main-text-rgb), 0.3)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8 10V2C8 1.73478 7.89464 1.48043 7.70711 1.29289C7.51957 1.10536 7.26522 1 7 1H5C4.73478 1 4.48043 1.10536 4.29289 1.29289C4.10536 1.48043 4 1.73478 4 2V10" stroke="rgba(var(--main-text-rgb), 0.3)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <h5 class="size-16 weight-600 color-main-text-02">Proyecto 23</h5>
                    </div>
                    <h1 class="main-title size-24 color-text">
                        Completar el texto del home en modo oscuro
                    </h1>
                    <time class="color-gray-50 weight-600" datetime="2022-09-03"> 3 sept. 2022 </time>
                </div>
        
                <div class="tags-container d-flex flex-wrap">
                    <div class="tag d-flex bg-accent">
                        <svg class="flex-shrink-0" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.565 13.935L13.9425 8.5575C14.2219 8.27646 14.3787 7.89628 14.3787 7.5C14.3787 7.10372 14.2219 6.72354 13.9425 6.4425L7.5 0H0V7.5L6.4425 13.935C6.58181 14.0745 6.74724 14.1851 6.92934 14.2606C7.11144 14.3361 7.30663 14.3749 7.50375 14.3749C7.70087 14.3749 7.89606 14.3361 8.07816 14.2606C8.26026 14.1851 8.42569 14.0745 8.565 13.935ZM4.5 3C3.67157 3 3 3.67157 3 4.5C3 5.32843 3.67157 6 4.5 6C5.32843 6 6 5.32843 6 4.5C6 3.67157 5.32843 3 4.5 3Z" fill="var(--main)"/>
                        </svg>
                        <span class="text-truncate size-13 weight-600 ml-1"> tag </span>
                    </div>
                    <div class="tag d-flex bg-accent">
                        <svg class="flex-shrink-0" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.565 13.935L13.9425 8.5575C14.2219 8.27646 14.3787 7.89628 14.3787 7.5C14.3787 7.10372 14.2219 6.72354 13.9425 6.4425L7.5 0H0V7.5L6.4425 13.935C6.58181 14.0745 6.74724 14.1851 6.92934 14.2606C7.11144 14.3361 7.30663 14.3749 7.50375 14.3749C7.70087 14.3749 7.89606 14.3361 8.07816 14.2606C8.26026 14.1851 8.42569 14.0745 8.565 13.935ZM4.5 3C3.67157 3 3 3.67157 3 4.5C3 5.32843 3.67157 6 4.5 6C5.32843 6 6 5.32843 6 4.5C6 3.67157 5.32843 3 4.5 3Z" fill="var(--main)"/>
                        </svg>
                        <span class="text-truncate size-13 weight-600 ml-1"> bigger tag </span>
                    </div>
                    <div class="tag d-flex bg-accent">
                        <svg class="flex-shrink-0" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.565 13.935L13.9425 8.5575C14.2219 8.27646 14.3787 7.89628 14.3787 7.5C14.3787 7.10372 14.2219 6.72354 13.9425 6.4425L7.5 0H0V7.5L6.4425 13.935C6.58181 14.0745 6.74724 14.1851 6.92934 14.2606C7.11144 14.3361 7.30663 14.3749 7.50375 14.3749C7.70087 14.3749 7.89606 14.3361 8.07816 14.2606C8.26026 14.1851 8.42569 14.0745 8.565 13.935ZM4.5 3C3.67157 3 3 3.67157 3 4.5C3 5.32843 3.67157 6 4.5 6C5.32843 6 6 5.32843 6 4.5C6 3.67157 5.32843 3 4.5 3Z" fill="var(--main)"/>
                        </svg>
                        <span class="text-truncate size-13 weight-600 ml-1"> Saludos buenas como se encuentra su persona </span>
                    </div>
                    <div class="tag d-flex bg-accent">
                        <svg class="flex-shrink-0" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.565 13.935L13.9425 8.5575C14.2219 8.27646 14.3787 7.89628 14.3787 7.5C14.3787 7.10372 14.2219 6.72354 13.9425 6.4425L7.5 0H0V7.5L6.4425 13.935C6.58181 14.0745 6.74724 14.1851 6.92934 14.2606C7.11144 14.3361 7.30663 14.3749 7.50375 14.3749C7.70087 14.3749 7.89606 14.3361 8.07816 14.2606C8.26026 14.1851 8.42569 14.0745 8.565 13.935ZM4.5 3C3.67157 3 3 3.67157 3 4.5C3 5.32843 3.67157 6 4.5 6C5.32843 6 6 5.32843 6 4.5C6 3.67157 5.32843 3 4.5 3Z" fill="var(--main)"/>
                        </svg>
                        <span class="text-truncate size-13 weight-600 ml-1"> overflowing tag </span>
                    </div>
                </div>
        
                <div class="task-description position-relative overflow-hidden" id="content-description">
                    <h4 class="color-text weight-600 size-14">Descripción</h4>
                    <p class="position-absolute color-text size-15 weight-300" id="content">
                        Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the 
                        migration will be creating a new table. 
                        If Laravel is able to determine the table name from the migration 
                        name, Laravel will pre-fill the generated migration file with the specified table. Otherwise, you may simply
                        specify the table in the migration file manually. Laravel will use the name of the migration to attempt to guess 
                        the name of the table and w Laravel will pre-fill the generated migration file with the specified table. Otherwise, you may simply
                        specify the table in the migration file manually. Laravel will use the name of the migration to attempt to guess 
                        the name of the table and w Laravel will pre-fill the generated migration file with the specified table. Otherwise, you may simply
                        specify the table in the migration file manually. Laravel will use the name of the migration to attempt to guess 
                        the name of the table and w Laravel will pre-fill the generated migration file with the specified table. Otherwise, you may simply
                        specify the table in the migration file manually. Laravel will use the name of the migration to attempt to guess 
                        the name of the table and w 
                    </p>
                    <div class="see-more position-absolute w-100 d-flex align-items-center ">
                        <div class="content cursor-pointer d-flex align-items-center" id="see-more-description">
                            <span class="d-flex justify-content-center flex-column color-text size-13 weight-600">Mostrar más</span>
                            <svg width="14" height="12" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L5.75 5.75L10.5 1" stroke="var(--main-text)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6"/>
                            </svg>
                        </div>
                    </div>
                </div>
                
                <div class="task-asignee-container position-relative w-100">
                    <div class="task-assignee-date d-flex align-items-center w-100" id="task-info">
                        <div class="assignee d-flex align-content-center">
                            <img src="../assets/user.png" alt="">
                            <div class="info d-flex flex-column justify-content-center">
                                <h4 class="size-15 color-text">
                                    Responsable
                                </h4>
                                <p class="size-18 weight-300 mb-0 color-text">
                                    Luis Miguel
                                </p>
                            </div>
                        </div>
                        <div class="date">
                            <h4 class="size-15 color-text">
                                Fecha de entrega
                            </h4>
                            <time class="size-18 weight-300 color-text" datetime="2023-09-3">
                                3 sept. 2023
                            </time>
                        </div>
                    </div>
                </div>
        
                <div class="subtasks position-relative overflow-hidden" id="content-subtasks">
                    <h4 class="color-text weight-600 size-14">Subtareas</h4>
                    <ul class="subtasks-title position-absolute" id="content">
                        <li class="d-flex">
                            <div class="check-box checked d-flex justify-content-center align-items-center flex-shrink-0">
                                <svg width="16" height="14" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.6875 1.375L3.30469 5.75781L1.3125 3.76562" stroke="var(--main)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                        <li class="d-flex">
                            <div class="check-box d-flex justify-content-center align-items-center flex-shrink-0"></div>
                            <p class="color-text size-15 weight-300 overflow-hidden" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </li>
                    </ul>
                    <div class="see-more position-absolute w-100 d-flex align-items-center">
                        <div class="content cursor-pointer d-flex align-items-center" id="see-more-subtasks">
                            <span class="d-flex justify-content-center flex-column color-text size-13 weight-600">Mostrar más</span>
                            <svg width="14" height="12" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L5.75 5.75L10.5 1" stroke="var(--main-text)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="comments-section">
                    <h4 class="color-text weight-600 size-14">Comentarios</h4>
                    <ul class="comments">
                        <li class="d-flex">
                            <img src="../assets/user.png" class="flex-shrink-0" alt="imagen">
                            <div class="content">
                                <span class="d-flex align-items-end"> 
                                    <h5 class="text-truncate color-text weight-500 mb-0 size-14">
                                        Wilfred Gabriel Pichardo López
                                    </h5>
                                    <time class="color-gray-100 ml-auto weight-500 size-12">
                                        Hace 8 minutos
                                    </time>
                                </span>
                                <p class="color-text size-14 weight-300">
                                    Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the migration will be creating a new table. If Laravel is able to determine the table name from the migration name,
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <img src="../assets/user.png" class="flex-shrink-0" alt="imagen">
                            <div class="content">
                                <span class="d-flex align-items-end"> 
                                    <h5 class="text-truncate color-text weight-500 mb-0 size-14">
                                        Wilfred Gabriel Pichardo López
                                    </h5>
                                    <time class="color-gray-100 ml-auto weight-500 size-12">
                                        Hace 10 minutos
                                    </time>
                                </span>
                                <p class="color-text size-14 weight-300">
                                    Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the migration will be creating a new table. If Laravel is able to determine the table name from the migration name,
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <img src="../assets/user.png" class="flex-shrink-0" alt="imagen">
                            <div class="content">
                                <span class="d-flex align-items-end"> 
                                    <h5 class="text-truncate color-text weight-500 mb-0 size-14">
                                        Wilfred Gabriel Pichardo López
                                    </h5>
                                    <time class="color-gray-100 ml-auto weight-500 size-12">
                                        Hace 10 minutos
                                    </time>
                                </span>
                                <p class="color-text size-14 weight-300 ">
                                    Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the migration will be creating a new table. If Laravel is able to determine the table name from the migration name,
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <img src="../assets/user.png" class="flex-shrink-0" alt="imagen">
                            <div class="content">
                                <span class="d-flex align-items-end"> 
                                    <h5 class="text-truncate color-text weight-500 mb-0 size-14">
                                        Wilfred Gabriel Pichardo López
                                    </h5>
                                    <time class="color-gray-100 ml-auto weight-500 size-12">
                                        Hace 10 minutos
                                    </time>
                                </span>
                                <p class="color-text size-14 weight-300 overflow-hidden">
                                    Laravel will use the name of the migration to attempt to guess the name of the table and whether or not the migration will be creating a new table. If Laravel is able to determine the table name from the migration name,
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
// export default () => {
// const document = document.createdocument("div");
// document.innerHTML = view;

//this event will trigger when we open the task in question
// const highlight_btn = document.querySelector('#highlight');
// let timer;
// const highlight = () => {
//     clearTimeout(timer);
//     const area = document.querySelector('#task-info');
//     area.classList.remove('blink');
//     area.classList.add('blink');
//     timer = setTimeout(() => {
//         area.classList.remove('blink');
//     }, 1200);
// }
// highlight_btn.addEventListener('click', highlight);

const px = (label) => label+'px';
// see-more-description
// see-more-subtasks
const handle_limited = ({id, margin_bottom}) => {
        const btn = document.querySelector(`#see-more-${id}`);
        const div = document.querySelector(`#content-${id}`);
        const content = div.querySelector('#content');
        const title = div.querySelector('h4');
        const height = content.clientHeight;

        //assign the margin-bottom in question
        // remove the show-more button if the space doesn't exceed the maximun height
        if (height < margin_bottom) {
            title.style.marginBottom = px(height);
            btn.remove();
            return;
        } else {
            title.style.marginBottom = px(margin_bottom);
        }

        btn.addEventListener('click', () => {
            const label = btn.querySelector('span').textContent;
            const arrow = btn.querySelector('svg');

            const closed = label === 'Mostrar más';

            const toggle = (rotate, open_space, text) => {
                arrow.style.transform = rotate;
                title.style.marginBottom = open_space;
                btn.querySelector('span').textContent = text;

                // make the text overflow only if we opened the section
                content.style["overflow-y"] = text === 'Mostrar menos' ? 'scroll': '';
                content.scrollTop = 0; // scrolling back to the top to not save said behaviour.
            }
            closed ? toggle('rotate(-180deg)', px(content.clientHeight + 59), 'Mostrar menos') : toggle('rotate(0deg)', px(margin_bottom ),  'Mostrar más');
        });
    }

    const see_more = {
        description: {
            id: 'description',
            margin_bottom: 140, // the space we want to always show to the client
        },
        subtasks: {
            id: 'subtasks',
            margin_bottom: 160,
        }
    }

    handle_limited(see_more['description']);
    handle_limited(see_more['subtasks']);

    const taskDrawer = $('#task-drawer');
    // setting the initial value
    let taskDrawerStatus = window.localStorage.getItem('taskDrawer');

    //if its the first time we enter we set it to closed
    if (!taskDrawerStatus) {
        window.localStorage.setItem('taskDrawer', 'closed')
        taskDrawerStatus = 'closed'
    };

    if (taskDrawerStatus === 'opened') {
        taskDrawer.addClass('opened');
    }else if(taskDrawerStatus === 'closed') {
        taskDrawer.removeClass('opened');
    }

    const toggleTaskDrawer = () => {
        taskDrawerStatus = window.localStorage.getItem('taskDrawer');
        if (taskDrawerStatus === 'opened') {
            window.localStorage.setItem('taskDrawer', 'closed');
            taskDrawer.removeClass('opened');
        }else if(taskDrawerStatus === 'closed') {
            window.localStorage.setItem('taskDrawer', 'opened');
            taskDrawer.addClass('opened');
        }
    };
    const toggler = document.querySelector('#toggle-task-drawer');
    const close = document.querySelector('#close-task-drawer');

    toggler.addEventListener('click', toggleTaskDrawer);
    close.addEventListener('click', toggleTaskDrawer);
</script>
<style>
</style>