@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import 'reset.scss';
@import 'palette.scss';

@import 'index.scss'; /*import wrapper*/

html {
    background-color: var(--ht-background) ;    
}
body {
    font-family: 'Poppins', sans-serif ;
    background-color: var(--ht-background) ;
}

$opacity: (1, 2, 3, 4, 5, 6, 7, 8, 9);

$palette: (
    'ht-main',
    'ht-main-400',
    'ht-main-500',
    'ht-main-600',
    'ht-main-700',
    'ht-secondary',
    'ht-accent',
    'ht-highlight',
    'ht-highlight-400',
    'ht-highlight-500',
    'ht-danger',
    'ht-success',
    'ht-cyan',
    'ht-background',
);
@each $color in $palette {
    .bg-#{$color} {
        background-color: #{'var(--'+$color+')'} !important;
        color: #{'var(--'+$color+'-text)'} !important;
    }
    .color-#{$color} {
        color: #{'var(--'+$color+')'} !important;
    }
    .color-#{$color}-text {
        color: #{'var(--'+$color+'-text)'} !important;
    }
    .fill-#{$color} {
        fill: #{'var(--'+$color+')'} !important;
    }
    .fill-#{$color}-text {
        color: #{'var(--'+$color+'-text)'} !important;
    }
}
$text_only_palette: (
    'ht-text',
    'ht-alternative',
    'ht-passive',
    'ht-deactivated',
);

@each $color in $text_only_palette {
    .color-#{$color} {
        color: #{'var(--'+$color+')'} !important;
    }
    .fill-#{$color} {
        fill: #{'var(--'+$color+')'} !important;
    }
}

// size system
$sizes: 12, 13, 14, 15, 16, 18, 20, 22, 24, 26, 32, 48, 52, 64, 70, 92;
@each $size in $sizes {
    .size-#{$size} {
        font-size: #{$size}px ;
    }
}
$weights: 100, 200, 300, 400, 500, 600, 700, 800;
@each $weight in $weights {
    .weight-#{$weight} {
        font-weight: #{$weight} ;
    }
}
/* (custom scrollbar)*/
::-webkit-scrollbar {
    width: 3px;
}

    /* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
.cursor-pointer {
    cursor: pointer;
}
.pointer-none {
    pointer-events: none;
}
a {
    color: var(--ht-cyan);
    text-decoration: none;
}
a.no-underline:hover {
    text-decoration: none !important;
}
