@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import 'reset.scss';
@import 'palette.scss';

//modules
@import 'layout/styles.scss';
@import 'components/styles.scss';

html {
    background-color: var(--background);    
}
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--background);
    
}

@each $color, $value in $gray_palette {
    // .bg-#{$color} {
    //     background-color: $value;
    // }
    .color-#{$color} {
        color: $value;
    }
    // .fill-#{$color} {
    //     fill: $value;
    // }
}

$opacity: (1, 2, 3, 4, 5, 6, 7, 8, 9);

$background_palette: (
    'main',
    'main-200',
    'main-400',
    'ht-secondary',
    'accent',
    'cyan',
);
@each $color in $background_palette {
    .bg-#{$color} {
        background-color: #{'var(--'+$color+')'};
        color: #{'var(--'+$color+'-text)'};
    }
    
    // @each $level in $opacity {
    //     .bg-#{$color}-0#{$level} {
    //         background-color: #{'var(--'+$color+')'};
    //         color: #{'rgba(var(--'+$color+'), 0.'+$level+')'};
    //     }
    // }
}

$colors_palette: (
    'main',
    'main-text',
    'ht-secondary',
    'ht-secondary-text',
    'accent',
    'accent-text',
);

@each $color in $colors_palette {
    .color-#{$color} {
        color: #{'var(--'+$color+')'};
    }
    // @each $level in $opacity {
    //     .color-#{$color}-0#{$level} {
    //         color: #{'rgba(var(--'+$color+'), 0.'+$level+')'};
    //     }
    // }
    .fill-#{$color} {
        fill: #{'var(--'+$color+')'};
    }
}



// size system
$sizes: 12, 13, 14, 15, 16, 18, 20, 22, 24, 26, 32, 48, 52, 64, 70, 92;
@each $size in $sizes {
    .size-#{$size} {
        font-size: #{$size}px;
    }
}
$weights: 100, 200, 300, 400, 500, 600, 700, 800;
@each $weight in $weights {
    .weight-#{$weight} {
        font-weight: #{$weight};
    }
}
/* (custom scrollbar)*/
::-webkit-scrollbar {
    width: 3px;
}

    /* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gray-300);
    border-radius: 10px;
}
.cursor-pointer {
    cursor: pointer;
}
