@mixin gray-scale {
    --white: #FFFFFF;
    --gray-50: #EFEFEF;
    --gray-100: #DADADA;
    --gray-200: #C1C1C1;
    --gray-300: #868686;
    --gray-400: #666666;
    --gray-500: #353535;
    --gray-600: #141414;
    --black: #090909;
}



@mixin additional_dark_mode {
    --main-400: #111417;
    --main-text-400: #111417;
    --main-200: #262E38;
    --main-text-200: #EFEFEF;
}


@mixin additional_light_mode {
    --main-400: #d8d8d8;
    --main-text-400: #111417;
    --main-200: #f5f5f5;
    --main-text-200: #111417;
}

@mixin dark_mode {
    --main: #161C23;
    --main-text: #EFEFEF;
    --main-text-rgb: 239, 239, 239;
    --ht-secondary: #090909;
    --ht-secondary-text: #EFEFEF;
    --accent: #10FB06;
    --accent-text: #090909;
    --cyan: #80BAFF;
    --cyan-text: #EFEFEF;
    --background: #090909;
    --text: #EFEFEF;
    @include gray-scale();
    @include additional_dark_mode();
}



@mixin light_mode {
    --main: #FFFFFF;
    --main-text: #090909;
    --main-text-rgb: 9, 9, 9;
    --ht-secondary: #090909;
    --ht-secondary-text: #EFEFEF;
    --accent: #2489FF;
    --accent-text: #FFFFFF;
    --cyan: #80BAFF;
    --cyan-text: #EFEFEF;
    --background: #EFEFEF;
    --text: #090909;
    @include gray-scale();
    @include additional_light_mode();
}

body {
    @include light_mode();
}
body.dark-theme {
    @include dark_mode();
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark_mode();
    }
    body.light-theme {
        @include light_mode();
    }
}

$gray_palette: (
    "white": var(--white),
    "gray-50": var(--gray-50),
    "gray-100": var(--gray-100),
    "gray-200": var(--gray-200),
    "gray-300": var(--gray-300),
    "gray-400": var(--gray-400),
    "gray-500": var(--gray-500),
    "gray-600": var(--gray-600),
    "black": var(--black),
);