@mixin dark_mode {
    --ht-main: #161C23;
    --ht-main-text: #ffffff;
    --ht-main-400: #35404B;
    --ht-main-400-text: #FFFFFF;
    --ht-main-500: #262E38;
    --ht-main-500-text: #FFFFFF;
    --ht-main-600: #13171B;
    --ht-main-600-text: #FFFFFF;
    --ht-main-700: #0c0d0e;
    --ht-main-700-text: #FFFFFF;
    --ht-highlight: #212933;
    --ht-highlight-text: #EFEFEF;
    --ht-highlight-400: #212933;
    --ht-highlight-400-text: #CDE9FF;
    --ht-highlight-500: #698CB7;
    --ht-highlight-500-text: #FFFFFF;
    --ht-secondary: #111417;
    --ht-secondary-text: #EFEFEF;
    --ht-accent: #10FB06;
    --ht-accent-text: #090909;
    --ht-danger: #FF2234;
    --ht-danger-text: #EFEFEF;
    --ht-success: #53FF83;
    --ht-success-text: #EFEFEF;
    --ht-cyan: #78beff;
    --ht-cyan-text: #EFEFEF;
    --ht-background: #0C0D0F;
    --ht-background-text: #FFF;
    --white: #FFF;
    --black: #090909;
    --ht-text: #F1F8FF;
    --ht-alternative: #698cb7;
    --ht-passive: #818E9E;
    --ht-deactivated: #384656;
}
@mixin light_mode {
    --ht-main: #FFFFFF;
    --ht-main-text: #161C23;
    --ht-main-400: #DADADA;
    --ht-main-400-text: #000000;
    --ht-main-500: #C1C1C1;
    --ht-main-500-text: #000000;
    --ht-main-600: #7B8289;
    --ht-main-600-text: #EFEFEF;
    --ht-main-700: #090909;
    --ht-main-700-text: #EFEFEF;
    --ht-highlight: #F0F0F0;
    --ht-highlight-text: #181818;
    --ht-highlight-400: #CDE9FF;
    --ht-highlight-400-text: #2489FF;
    --ht-highlight-500: #2489FF;
    --ht-highlight-500-text: #FFFFFF;
    --ht-secondary: #090909;
    --ht-secondary-text: #EFEFEF;
    --ht-accent: #2489FF;
    --ht-accent-text: #FFFFFF;
    --ht-danger: #FF2234;
    --ht-danger-text: #EFEFEF;
    --ht-success: #53FF83;
    --ht-success-text: #EFEFEF;
    --ht-cyan: #54B6FF;
    --ht-cyan-text: #EFEFEF;
    --ht-background: #f7f7f7;
    --ht-background-text: #0C0D0F;
    --white: #FFF;
    --black: #090909;
    --ht-text: #000000;
    --ht-alternative: #090909;
    --ht-passive: #4A4A4A;
    --ht-deactivated: #C1C1C1;
}

body {
    @include light_mode();
}
body.dark-theme {
    @include dark_mode();
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark_mode();
    }
    body.light-theme {
        @include light_mode();
    }
}
